<template>
  <piecePaper>
    <section class="hero is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            Cookie Policy
          </h1>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column auto"/>
      <div class="column is-three-fifths content">
        <h2 id="strictlynecessarycookies">Strictly Necessary Cookies</h2>

        <p>These cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.</p>

        <h3 id="cookiesused">Cookies used</h3>

        <p><a href="http://cookiepedia.co.uk/cookies/OptanonConsent">OptanonConsent</a> <br >
        <a href="http://cookiepedia.co.uk/cookies/OptanonAlertBoxClosed">OptanonAlertBoxClosed</a></p>

        <h2 id="necessarycookies">Necessary Cookies</h2>

        <p>The Ecwid system and shopping cart utilizes local storage. Consent is required to place an order.</p>

        <h3 id="cookiesused-1">Cookies Used</h3>

        <p><a href="https://www.ecwid.com">Ecwid</a>  </p>

        <ul>
          <li>PSecwid<strong>document</strong>referrer</li>

          <li>PSreferrer    </li>

          <li>PSecwid__taxIdPStaxId    </li>

          <li>PSecwid<strong>shopping</strong>cart<strong>controller</strong>storage</li>

          <li>PSlastPlace    </li>

          <li>PScustomerid    </li>

          <li>PSecwid__PStaxSettings    </li>

          <li>PSecwid__PScart    </li>

          <li>PSaction__countPScount</li>

          <li>PSecwid__emailPSemail</li>
        </ul>

        <h2 id="functionalcookies">Functional Cookies</h2>

        <p>These cookies enable the website to provide enhanced functionality and personalisation. They may be set by us or by third party providers whose services we have added to our pages. If you do not allow these cookies then some or all of these services may not function properly.</p>

        <h3 id="cookiesused-2">Cookies Used</h3>

        <p><a href="https://just-comments.com">Just Comments</a> <br >
          Security and spam prevention for blog commenting. </p>

        <ul>
          <li>jc_userEmail</li>

          <li>jc_userId</li>

          <li>jc_userPic</li>

          <li>jc_userUrl</li>

          <li>jc_username</li>

          <li>jc_website</li>
        </ul>

        <p><a href="http://cookiepedia.co.uk/host/.openstreetmap.org">openstreetmap.org</a></p>

        <ul>
          <li>qos_token</li>
        </ul>

        <h2 id="targetingcookies">Targeting Cookies</h2>

        <p>These cookies may be set through our site by our advertising partners. You will find them used in blog posts. They may be used by those companies to build a profile of your interests and show you relevant adverts on other sites. They do not store directly personal information, but are based on uniquely identifying your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.</p>

        <h3 id="cookies">Cookies</h3>

        <p><a href="http://cookiepedia.co.uk/host/.youtube.com">youtube.com</a></p>

        <ul>
          <li>SID</li>

          <li>HSID</li>

          <li>demographics</li>

          <li>VISITOR<em>INFO1</em>LIVE</li>

          <li>APISID</li>

          <li>LOGIN_INFO</li>
        </ul>

        <p><a href="http://cookiepedia.co.uk/host/.google.com">google.com</a></p>

        <ul>
          <li>APISID</li>

          <li>SSID</li>

          <li>NID</li>

          <li>PREF</li>

          <li>SID</li>

          <li>SAPISID</li>

          <li>HSID</li>
        </ul>
        <br>
        <p>
          last modified: 2018-04-22
        </p>
      </div>
      <div class="column auto"/>
    </div>
  </piecePaper>
</template>

<script>
import piecePaper from '~/components/info/piecePaper.vue'

export default {
  components: {
    piecePaper
  },
  head () {
    return {
      title: `ASKc-Cookie Policy`,
      meta: [
        { hid: 'description', name: 'description', content: `A list of cookies and how they are used by Amy Storm Kosman creative.` }
      ]
    }
  }
}
</script>
<style>
.content {
  font-size: 1.25rem;
  line-height: 2rem;
}
.content a {
  color: #ac3b61;
  text-decoration: underline;
}
</style>