<template>
  <piecePaper>
    <section class="hero is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            FAQ
          </h1>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column auto"/>
      <div class="column is-three-fifths content">
        <h2 id="canionlybuyamystormkosmancreativeonlineorcanialsofindtheminbrickandmortarstore">Can I only buy Amy Storm Kosman creative online? Or can I also find them in brick and mortar Store?</h2>

        <blockquote>
          <p>All items are sold via webshop.</p>
        </blockquote>

        <h2 id="ireceivedanitemasapresenthoweveripreferanother">I received an item as a present, however I prefer another.</h2>

        <blockquote>
          <p>Yes of course as long as the purchase falls within the guidlines on the Returns page.</p>
        </blockquote>

        <h2 id="ihaveaquestionregardingmyorderhowcanireachamystormkosmancreative">I have a question regarding my order, how can I reach Amy Storm Kosman creative?</h2>

        <blockquote>
          <p>Our eMail: info@askcreative.space</p>
        </blockquote>

        <h2 id="iboughtanitemviayourwebshopcanireturnorexchangeitforanother">I bought an item via your webshop, can I return or exchange it for another?</h2>

        <blockquote>
          <p>Yes of course as long as your purchase falls within the guidlines on the Returns page. </p>
        </blockquote>

        <h2 id="ireceivedanitemasapresenthoweveripreferanother-1">I received an item as a present, however I prefer another.</h2>

        <blockquote>
          <p>Yes of course as long as the purchase falls within the guidlines on the Returns page.</p>
        </blockquote>

        <h2 id="whatshouldiknowaboutthefabricsused">What should I know about the fabrics used?</h2>

        <blockquote>
          <p><strong>Warning!</strong> the chance of getting a stain out of most vintage fabrics without damage is very low.</p>
  
          <p><em>General fabric information:</em>  </p>
  
          <blockquote>
            <p><em>Synthetic fibers:</em>  </p>
    
            <blockquote>
              <p>You are probably safe machine washing 30 degrees (Celsius), 30 minutes with hand-wash detergent. </p>
            </blockquote>
    
            <p><em>Silk:</em>  </p>
    
            <blockquote>
              <p>Sponging spots can leave water marks. Once silk has been turned yellow by exposure to bleach, it can not be whitened. It will always be yellow. It is a chemical reaction that can not be undone. </p>
            </blockquote>
    
            <p><em>Cotton:</em>    </p>
    
            <blockquote>
              <p>May not be colorfast. Probably best not to wash.</p>
            </blockquote>
    
            <p><em>Hemp:</em>    </p>
    
            <blockquote>
              <p>Discoloration is about the same as the cotton, but more prone to wrinkles. Take care when drying.</p>
            </blockquote>
          </blockquote>
        </blockquote>

        <h2 id="caniputitinthewashingmachinehowdoicleanit">Can I put it in the washing machine? How do I clean it?</h2>

        <blockquote>
          <p><em>General information about cleaning:</em>  </p>
  
          <blockquote>
            <ul>
              <li>Materials may shrink.  </li>
    
              <li>Discoloration may occur. Clothes may be discolored dipped in water, and water color changes much.  </li>
    
              <li>Wrinkles are very hard to get rid of, when washed make sure the cloths are hanged carefully and straight so wrinkles won't appear. Tearing may occur as after many years the cloth may get thinner and may become torn as a result.   </li>
    
              <li><strong>Never wring the fabric.</strong>  </li>
    
              <li>Some items have pre-existing stains (as noted in descriptions) and have been treated by a professional. <strong>Do not try to remove these.</strong>   </li>
            </ul>
          </blockquote>
  
          <p><em>More specific information about cleaning:</em>  </p>
  
          <blockquote>
            <p><em>Recommended:</em>  </p>
    
            <blockquote>
              <p>Gently swish the fabric in a tub with 2-3 changes of water. <strong>NEVER</strong> let fabric sit in water for very long, remove it immediately after washing it.  </p>
            </blockquote>
    
            <p><em>Should be O.K.:</em>  </p>
    
            <blockquote>
              <p>Wash gently by hand in cold water and light or gentle hand wash soap. If you have hard water adding a tablespoon of borax to the water prior to washing should be safe. <strong>NEVER</strong> let fabric sit in water for very long, remove it immediately after washing it.  </p>
            </blockquote>
    
            <p><strong>High Risk</strong> <em>for most fabrics, but may be O.K. for silks and synthetics:</em>  </p>
    
            <blockquote>
              <p>Use washing machine on 30 degrees (Celsius) on most gentle setting. Fold the fabric into a net or wash bag. Folding prevents excess friction that can damage the fabric. Add detergent. Use a non bleach (chlorine or oxygen) detergent that 'offers' hand-wash mode.  </p>
            </blockquote>
          </blockquote>
        </blockquote>

        <h2 id="nowthatiwashedithowdoidryit">Now that I washed it, how do I dry it?</h2>

        <blockquote>
          <p><em>Recommended:</em></p>
  
          <blockquote>
            <p>Gently press water out and lie on towels - <strong>Do Not Twist or Wring</strong>. Flatten and press to get excess water out. Then air dry, making sure to smooth the surface. Keep out of direct sunlight.</p>
          </blockquote>
  
          <p><em>Should be O.K.:</em></p>
  
          <blockquote>
            <p>Tumble dry without heat until a bit moist, then lay flat. Air dry making sure to smooth the surface. Keep out of direct sunlight. Wrinkles stretch out when wet by pulling <em>gently</em> by hand.</p>
          </blockquote>
        </blockquote>

        <h2 id="caniironmyscarf">Can I iron my scarf?</h2>

        <blockquote>
          <p>Carefully iron if needed.</p>
  
          <blockquote>
            <ul>
              <li>Use a low heat iron to press it but to avoid making the fabric shiny, put a thin cotton towel or white cloth over the fabric before ironing.</li>
    
              <li>Use a thin piece of paper between iron and embroidering, gilts and crests. This way it can be neatly pressed &amp; not get that shine to it.</li>
    
              <li><strong>Never</strong> use steam, as this may stain the fabrics.</li>
            </ul>
          </blockquote>
        </blockquote>
        <br>
        <p>
          modified: 2018-04-22
        </p>
      </div>
      <div class="column auto"/>
    </div>
  </piecePaper>
</template>

<script>
import piecePaper from '~/components/info/piecePaper.vue'

export default {
  components: {
    piecePaper
  },
  head () {
    return {
      title: `ASKc-FAQ`,
      meta: [
        { hid: 'description', name: 'description', content: `Amy Storm Kosman creative general quaestions and answers and how to care for items.` }
      ]
    }
  }
}
</script>
<style>
.content {
  font-size: 1.25rem;
  line-height: 2rem;
}
.content a {
  color: #ac3b61;
  text-decoration: underline;
}
</style>