<template>
  <section>
    <info-hero/>
    <div class="columns is-centered is-multiline">
      <div class="column is-three-fifths">
        <nuxt-link to="/info/cookies">
          <h2 class="title">Cookie Policy</h2>
        </nuxt-link>
        <nuxt-link to="/info/faq">
          <h2 class="title">FAQ</h2>
        </nuxt-link>
        <nuxt-link to="/info/payments">
          <h2 class="title">Payment Policy</h2>
        </nuxt-link>
        <nuxt-link to="/info/privacy">
          <h2 class="title">Privacy Policy</h2>
        </nuxt-link>
        <nuxt-link to="/info/returns">
          <h2 class="title">Returns and Exchanges</h2>
        </nuxt-link>
        <nuxt-link to="/info/shipping">
          <h2 class="title">Shipping Policy</h2>
        </nuxt-link>
        <nuxt-link to="/info/terms">
          <h2 class="title">Terms and Conditions</h2>
        </nuxt-link>
        <br>
      </div>
    </div>
  </section>
</template>


<script>
import infoHero from '~/components/info/infoHero.vue'
import Card from '~/components/Card.vue'

export default {
  layout: 'defaultLayout',
  components: {
    infoHero,
    Card
  },
    head() {
    return {
      title: 'A.S.K.c Information',
      meta: [
        {
        hid: 'description',
        name: 'description',
        content: 'Information, faqs, terms, and policies of Amy Storm Kosman creative.'
      }
      ]
    }
  }
}
</script>
<style scoped>
.pages {
 margin-bottom: 8vh;
}
h1 {
  color: #413e3c;
  background-image: linear-gradient(90deg, #ac3b61, #336ca4, #6c0729);
  background-size: 100% .5rem;
  background-position: 0 88%;
  background-repeat: no-repeat;
}
.column {
  min-height: 100px;
}
h2 {
  color: #413e3c;
  background-image: linear-gradient(90deg, #ac3b61, #336ca4, #0d4276, #6c0729);
  background-size: 100% .2rem;
  background-position: 0 88%;
  background-repeat: no-repeat;
}
</style>