<template>
  <piecePaper>
    <section class="hero is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            Exchanges, Returns, and Cancellations Policy
          </h1>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column auto"/>
      <div class="column is-three-fifths content">
        <h1 id="ourpolicylasts30days">Our policy lasts 30 days.</h1>

        <p>Situations may occur where only partial refunds are granted (if applicable).Any item not in its original condition, is damaged or missing parts for reasons not due to our error.Any item that is returned more than 30 days after delivery.</p>

        <p>Amy Storm Kosman creative advises to check the delivered products immediately after receiving them. In case the ordered products do not satisfy your expectations, do not hesitate to contact us by mail in order to inform us about it. Amy Storm Kosman creative will try to solve the problem or complaint together with you.</p>

        <p>In case that Amy Storm Kosman creative has not received a written complaint within 7 days after the receipt reception of the product, Amy Storm Kosman creative assumes that the products has been delivered correctly and in good state. You have the right to return the products delivered by Amy Storm Kosman creative within 30 days. Within the approval period of 30 days you are obliged to take great care of the product and the packaging. You are only allowed to unpack and use the product as far as necessary to test whether it satisfies you and you would like to keep it.</p>

        <p>You may return the products in the original packaging, after sending us an mail to returns@askcreative.space with subject return and order number. You need to send the product(s) and the return form (which you can download on the return page) to the address which is noted on the return form.</p>

        <p>When the products are returned, unused, correctly in time and undamaged, Amy Storm Kosman creative will refund the paid price and shipping cost, but excluded the return costs within 10 days. If returned products are paid with a gift voucher, a new gift voucher will be created (Amy Storm Kosman creative will not refund the paid price).</p>

        <h2 id="cancellations">Cancellations</h2>

        <p>There is no cost to cancel your order before it has shipped. An order cannot be cancelled once it has been shpped. Let us know as soon as possible by sending an email to: info@askcreative.space</p>

        <h2 id="returns">Returns</h2>

        <p>If for any reason you are not satisfied with the ordered products, you may return your purchase within 30 days starting from the date of delivery. If 30 days have gone by since date of delivery, unfortunately we can’t offer you a refund.</p>

        <p>Please send an email to returns@askcreative.space with subject ‘return’ and give your name, order number and quantity of returned items. Fill in the return form which you can download on this page and include in the package.</p>

        <p>The products can only be returned unworn and undamaged and in original package. Please notice that we will send back the items to you and we can not restitute the purchase amount including shipping costs once the items have been worn. Any return costs are at the customers own expense and are not the responsibility of Amy Storm Kosman creative.</p>

        <h2 id="exchanges">Exchanges</h2>

        <p>Rather change for another item? Please send an email to returns@askcreative.space with subject ‘exchange’ and give your name, order number and newly chosen item. Exchanged items are to be sent back within 30 days starting from the date of delivery. Fill in the return form which you can download on this page and include in package. If 30 days have gone by since the date of delivery, unfortunately we can’t offer you an exchange.</p>

        <p>The products can only be returned unworn and undamaged and in original package. Please notice that we will send back the item to you and we can not restitute the purchase amount once the items have been worn.</p>

        <p>Please be aware that our items are unique and handcrafted, so only upon our confirmation is a newly chosen item guaranteed available for exchange.</p>

        <p>If the package does not reach us safely we will not be able to complete the refund, so you may want to send it fully tracked for peace of mind to:  </p>

        <p>Amy Storm Kosman creative <br >
          Return <br >
          Mirastraat 13 <br >
          7521 ZE Enschede, Netherlands  </p>

        <h2 id="refunds">Refunds</h2>

        <p>Please provide all required bank details on the return form. Once your return is received and inspected, we will send you an email to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. If you are approved, then your refund will be processed, and a credit will automatically be applied to your credit card or original method of payment, within 10 business days. You will be notified by email once finalised. Late or missing refunds (if applicable)</p>

        <p>If you haven’t received a refund yet, first check your bank account again. Then contact your credit card company, it may take some time before your refund is officially posted. Next contact your bank. There is often some processing time before a refund is posted. If you’ve done all of this and you still have not received your refund yet, please contact us at returns@askcreative.space.</p>

        <p>Please allow 10 business days for your refund to be processed. </p>

        <h2 id="gifts">Gifts</h2>

        <p>If the item was marked as a gift when purchased and shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be mailed to you.</p>

        <p>If the item wasn’t marked as a gift when purchased, or the gift giver had the order shipped to themselves to give to you later, we will send a refund to the gift giver and he will find out about your return.</p>

        <h2 id="returnform">Return Form</h2>

        <h3 id="ahrefhttpsrescloudinarycomaskcreativespaceimageuploadv1519296363returnsform_acai0ypdfdownloadyourreturnforma"><a href="https://res.cloudinary.com/askcreative-space/image/upload/v1519296363/ReturnsForm_acai0y.pdf">Download your return form.</a></h3>
 
        <br>
        <p>
          last modified 2018-04-22</p>
      </div>
      <div class="column auto"/>
    </div>
  </piecePaper>
</template>

<script>
import piecePaper from '~/components/info/piecePaper.vue'

export default {
  components: {
    piecePaper
  },
  head () {
    return {
      title: `ASKc-Exchanges, Returns, and Cancellations Policy`,
      meta: [
        { hid: 'description', name: 'description', content: `Information on how to return, exchange, or cancel an order from Amy Storm Kosman creative.` }
      ]
    }
  }
}
</script>
<style>
.content {
  font-size: 1.25rem;
  line-height: 2rem;
}
.content a {
  color: #ac3b61;
  text-decoration: underline;
}
</style>