<template>
  <piecePaper>
    <section class="hero is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            Shipping Policy
          </h1>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column auto"/>
      <div class="column is-three-fifths content">
        The shipments from Amy Storm Kosman creative will be handled by Post NL. If Post NL Track & Trace is available in your country you will receive a PostNL Track & Trace code in the order confirmation you will receive by email. This way, you can always track your order. See <a href="https://www.postnl.nl/en/mail-and-parcels/parcels/international-parcel">here</a> for a list of availabity.

        Orders from outside the Netherlands will be transferred to local delivery services.

        # Shipment costs & period

        *FREE SHIPPING* when purchase amount is above *€149*.

        Shipment costs include VAT where applicable, and will be automatically added to the amount of your order.

        + NL: Shipping costs are €4,95. The shipping period is 2-3 working days.

        + Zone 1: Shipping costs are €6,95. The shipping period is 2-4 working days.
  
        + Zone 2: Shipping costs are €7,95. The shipping period is 2-7 working days.

        + WORLD: Shipping costs are €14,95. The shipping period is 2-14 working days.

        For any questions please contact: hello@askcreative.space

        ## Customs/import taxes for international customers

        All international customers are responsible for the customs rates within their own country. For further information, please contact your local customs office. Amy Storm Kosman creative will declare *FULL € value* on international shipments and must include an invoice for customs should they require it.

        ## Delivery

        As long as the agreement has not been set yet, Amy Storm Kosman creative is free to change the prices and further conditions. Amy Storm Kosman creative aims to ship all orders within 2-3 days. 

        If a product has a longer delivery time or is (temporarily) not deliverable you will be informed shortly after you have placed the order.

        Amy Storm Kosman creative is not responsible for delays caused by shipping companies such as Post NL.

        Amy Storm Kosman creative is also not liable for whatever damage that might occur as a consequence to not delivering in time.

        Amy Storm Kosman creative takes great care in of the shipping and receiving of ordered products. Nevertheless it can happen that an order is not shipped or is incomplete. If the order is incomplete, you need to report this within 7 days after you have received the product. The shipment shall eventually be completed or sent again by Amy Storm Kosman creative.

        ## Zones

        | Destination Country | Zone |
        | ------------------- | ---- |
        | Albania | 2 |
        | Andorra | 2 |
        | Austria | 1 |
        | Belarus | 2 |
        | Belgium | 1 |
        | Bosnia and Herzegovina | 2 |
        | Bulgaria | 2 |
        | Canary Islands | 2 |
        | Channel Islands | 2 |
        | Croatia | 2 |
        | Cyprus | 2 |
        | Czech Republic | 2 |
        | Denmark (excl. Faroe Islands and Greenland) | 1 |
        | Estonia | 2 |
        | Faroe Islands | 2 |
        | Finland | 2 |
        | France (incl. Corsica and Monaco) | 1 |
        | Germany | 1 |
        | Gibraltar | 2 |
        | Greece | 2 |
        | Greenland | 2 |
        | Hungary | 2 |
        | Iceland | 2 |
        | Ireland | 2 |
        | Italy (excl. San Marino and Vatican City) | 1 |
        | Kosovo | 2 |
        | Latvia | 2 |
        | Liechtenstein | 2 |
        | Lithuania |2 |
        | Luxembourg | 1 |
        | Macedonia | 2 |
        | Malta | 2 |
        | Moldavia | 2 |
        | Montenegro | 2 |
        | Norway | 2 |
        | Poland | 2 |
        | Portugal (incl. Azores and Madeira) | 2 |
        | Romania | 2 |
        | San Marino | 2 |
        | Serbia | 2 |
        | Slovakia | 2 |
        | Slovenia | 2 |
        | Spain (incl. Balearic Islands, excl. Canary Islands) | 1 |
        | Sweden | 1 |
        | Switzerland | 2 |
        | Turkey | 2 |
        | Urkaine | 2 |
        | United Kingdom (excl. Channel Islands and Gribaltar | 1 |
        | Vatican City | 2 |
        <br>
        <p>
          last modified: 2018-04-22
        </p>
      </div>
      <div class="column auto"/>
    </div>
  </piecePaper>
</template>

<script>
import piecePaper from '~/components/info/piecePaper.vue'

export default {
  scrollToTop: true,
  components: {
    piecePaper
  },
  head () {
    return {
      title: `ASKc-Shipping Policy`,
      meta: [
        { hid: 'description', name: 'description', content: `Amy Storm Kosman creative Shipping rates and information.` }
      ]
    }
  }
}
</script>
<style>
.content {
  font-size: 1.25rem;
  line-height: 2rem;
}
.content a {
  color: #ac3b61;
  text-decoration: underline;
}
</style>