<template>
  <piecePaper>
    <section class="hero is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            Terms & Conditions
          </h1>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column auto"/>
      <div class="column is-three-fifths content">
        <p>This website is operated by Amy Storm Kosman creative. Throughout the site, the terms “we”, “us” and “our” refer to Amy Storm Kosman creative. Amy Storm Kosman creative offers this website, including all information, tools and services available from this site to you, the user, conditioned upon your acceptance of all terms, conditions, policies and notices stated here.</p>

        <p>By visiting our site and/ or purchasing something from us, you engage in our “Service” and agree to be bound by the following terms and conditions (“Terms of Service”, “Terms”), including those additional terms and conditions and policies referenced herein and/or available by hyperlink. These Terms of Service apply to all users of the site, including without limitation users who are browsers, vendors, customers, merchants, and/ or contributors of content.</p>

        <p>Please read these Terms of Service carefully before accessing or using our website. By accessing or using any part of the site, you agree to be bound by these Terms of Service. If you do not agree to all the terms and conditions of this agreement, then you may not access the website or use any services. If these Terms of Service are considered an offer, acceptance is expressly limited to these Terms of Service.</p>

        <p>Any new features or tools which are added to the current store shall also be subject to the Terms of Service. You can review the most current version of the Terms of Service at any time on this page. We reserve the right to update, change or replace any part of these Terms of Service by posting updates and/or changes to our website. It is your responsibility to check this page periodically for changes. Your continued use of or access to the website following the posting of any changes constitutes acceptance of those changes.</p>

        <h1 id="generalconditions">General Conditions</h1>

        <p>We reserve the right to refuse service to anyone for any reason at any time as applicable by law. You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
        Credit card information is always encrypted during transfer over networks. You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service or any contact on the website through which the service is provided, without express written permission by us.</p>

        <p>The headings used in this agreement are included for convenience only and will not limit or otherwise affect these Terms.</p>

        <h2 id="accuracycompletenessandtimelinessofinformation">Accuracy, Completeness and Timeliness of Information</h2>

        <p>We are not responsible if information made available on this site is not accurate, complete or current. The material on this site is provided for general information only and should not be relied upon or used as the sole basis for making decisions without consulting primary, more accurate, more complete or more timely sources of information. Any reliance on the material on this site is at your own risk.</p>

        <p>This site may contain certain historical information. Historical information, necessarily, is not current and is provided for your reference only. We reserve the right to modify the contents of this site at any time, but we have no obligation to update any information on our site. You agree that it is your responsibility to monitor changes to our site.</p>

        <h2 id="modificationstotheserviceandprices">Modifications to the Service and Prices</h2>

        <p>Prices for our products are subject to change without notice.</p>

        <p>We reserve the right at any time to modify or discontinue the Service (or any part or content thereof) without notice at any time.</p>

        <p>We shall not be liable to you or to any third-party for any modification, price change, suspension or discontinuance of the Service.</p>

        <h2 id="productsorservices">Products or Services</h2>

        <p>Certain products or services may be available exclusively online through the website. These products or services may have limited quantities and are subject to return or exchange only according to our <router-link 
          to="/info/returns" 
          class="link">Returns Policy</router-link>. We have made every effort to display as accurately as possible the colors and images of our products that appear at the store. We cannot guarantee that your computer monitor's display of any color will be accurate. We reserve the right, but are not obligated, to limit the sales of our products or Services to any person, geographic region or jurisdiction. We may exercise this right on a case-by-case basis. We reserve the right to limit the quantities of any products or services that we offer. All descriptions of products or product pricing are subject to change at anytime without notice, at the sole discretion of us. We reserve the right to discontinue any product at any time. Any offer for any product or service made on this site is void where prohibited. We do not warrant that the quality of any products, services, information, or other material purchased or obtained by you will meet your expectations, or that any errors in the Service will be corrected.</p>

        <h2 id="accuracyofbillingandaccountinformation">Accuracy of Billing and Account Information</h2>

        <p>We reserve the right to refuse any order you place with us. We may, in our sole discretion, limit or cancel quantities purchased per person, per household or per order. These restrictions may include orders placed by or under the same customer account, the same credit card, and/or orders that use the same billing and/or shipping address. In the event that we make a change to or cancel an order, we may attempt to notify you by contacting the e-mail and/or billing address/phone number provided at the time the order was made. We reserve the right to limit or prohibit orders that, in our sole judgment, appear to be placed by dealers, resellers or distributors.</p>

        <p>You agree to provide current, complete and accurate purchase and account information for all purchases made at our store. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed.</p>

        <p>For more detail, please review our
          <router-link 
            to="/info/returns" 
            class="link">Returns</router-link> page.</p>

        <h2 id="optionaltools">Optional Tools</h2>

        <p>We may provide you with access to third-party tools over which we neither monitor nor have any control nor input. You acknowledge and agree that we provide access to such tools ”as is” and “as available” without any warranties, representations or conditions of any kind and without any endorsement. We shall have no liability whatsoever arising from or relating to your use of optional third-party tools.</p>

        <p>Any use by you of optional tools offered through the site is entirely at your own risk and discretion and you should ensure that you are familiar with and approve of the terms on which tools are provided by the relevant third-party provider(s). We may also, in the future, offer new services and/or features through the website (including, the release of new tools and resources). Such new features and/or services shall also be subject to these Terms of Service.</p>

        <h2 id="thirdparylinks">Third-Pary Links</h2>

        <p>Certain content, products and services available via our Service may include materials from third-parties. Third-party links on this site may direct you to third-party websites that are not affiliated with us. We are not responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any liability or responsibility for any third-party materials or websites, or for any other materials, products, or services of third-parties. We are not liable for any harm or damages related to the purchase or use of goods, services, resources, content, or any other transactions made in connection with any third-party websites. Please review carefully the third-party's policies and practices and make sure you understand them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party products should be directed to the third-party.</p>

        <h2 id="usercommentsfeedbackandothersubmissions">User Comments, Feedback and Other Submissions</h2>

        <p>If, at our request, you send certain specific submissions (for example contest entries) or without a request from us you send creative ideas, suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise (collectively, 'comments'), you agree that we may, at any time, without restriction, edit, copy, publish, distribute, translate and otherwise use in any medium any comments that you forward to us. We are and shall be under no obligation (1) to maintain any comments in confidence; (2) to pay compensation for any comments; or (3) to respond to any comments.</p>

        <p>We may, but have no obligation to, monitor, edit or remove content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</p>

        <p>You agree that your comments will not violate any right of any third-party, including copyright, trademark, privacy, personality or other personal or proprietary right. You further agree that your comments will not contain libelous or otherwise unlawful, abusive or obscene material, or contain any computer virus or other malware that could in any way affect the operation of the Service or any related website. You may not use a false e-mail address, pretend to be someone other than yourself, or otherwise mislead us or third-parties as to the origin of any comments. You are solely responsible for any comments you make and their accuracy. We take no responsibility and assume no liability for any comments posted by you or any third-party.</p>

        <h2 id="personalinformation">Personal Information</h2>

        <p>Your submission of personal information through the store is governed by our Privacy Policy. To view our <router-link 
          to="/info/privacy" 
          class="link">Privacy Policy</router-link>.</p>

        <h2 id="shippingdelivery">Shipping &amp; Delivery</h2>

        <p>Please visit our <router-link 
          to="/info/shipping" 
          class="link">Shipping</router-link> page.</p>

        <h2 id="paymentmethods">Payment Methods</h2>

        <p>Please visit our <router-link 
          to="/info/payments" 
          class="link">Payment</router-link> page.</p>

        <h2 id="returnsexchangesandrefunds">Returns, Exchanges and Refunds</h2>

        <p>Please visit our <router-link 
          to="/info/returns" 
          class="link">Returns</router-link> page.</p>

        <h2 id="errorsinaccuraciesandomissions">Errors, Inaccuracies and Omissions</h2>

        <p>Occasionally there may be information on our site or in the Service that contains typographical errors, inaccuracies or omissions that may relate to product descriptions, pricing, promotions, offers, product shipping charges, transit times and availability. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information or cancel orders if any information in the Service or on any related website is inaccurate at any time without prior notice (including after you have submitted your order).</p>

        <p>We undertake no obligation to update, amend or clarify information in the Service or on any related website, including without limitation, pricing information, except as required by law. No specified update or refresh date applied in the Service or on any related website, should be taken to indicate that all information in the Service or on any related website has been modified or updated.</p>

        <h2 id="disclaimersofwarrantieslimitationofliability">Disclaimers of Warranties; Limitation of Liability</h2>

        <p>Amy Storm Kosman creative is not liable for any damage caused by the personnel or the products of Amy Storm Kosman creative, directly or indirectly. Amy Storm Kosman creative is also not liable for any damage caused by third parties.</p>

        <p>Amy Storm Kosman creative accepts no liablity for eventual damages that is caused by using Amy Storm Kosman creative products.</p>

        <p>The liability of Amy Storm Kosman creative is always restricted to the purchase amount of the product in question.</p>

        <p>Amy Storm Kosman creative is not liable for misunderstandings, delay and incorrect delivery of orders and messages, due to the use of the internet or other means of communication with Amy Storm Kosman creative, or between Amy Storm Kosman creative and third parties, unless due to intentionally acts or negligence.</p>

        <p>Force majeure: In a situation of force majeure all obligations of Amy Storm Kosman creative will be canceled. In case that the period of force majeure takes longer than two months, it is yours and Amy Storm Kosman creative. right to cancel the agreement, without a compensation for damage. We speak of force majeure in case of strike, disturbances, import/export prohibition, or natural disasters regardless if these occur at Amy Storm Kosman creative or its suppliers.</p>

        <h2 id="indemnification">Indemnification</h2>

        <p>You agree to indemnify, defend and hold harmless Amy Storm Kosman creative and our parent, subsidiaries, affiliates, partners, officers, directors, agents, contractors, licensors, service providers, subcontractors, suppliers, interns and employees, harmless from any claim or demand, including reasonable attorneys’ fees, made by any third-party due to or arising out of your breach of these Terms of Service or the documents they incorporate by reference, or your violation of any law or the rights of a third-party.</p>

        <h2 id="severability">Severability</h2>

        <p>In the event that any provision of these Terms of Service is determined to be unlawful, void or unenforceable, such provision shall nonetheless be enforceable to the fullest extent permitted by applicable law, and the unenforceable portion shall be deemed to be severed from these Terms of Service, such determination shall not affect the validity and enforceability of any other remaining provisions.</p>

        <h2 id="terminiation">Terminiation</h2>

        <p>The obligations and liabilities of the parties incurred prior to the termination date shall survive the termination of this agreement for all purposes. These Terms of Service are effective unless and until terminated by either you or us. You may terminate these Terms of Service at any time by notifying us that you no longer wish to use our Services, or when you cease using our site. If in our sole judgment you fail, or we suspect that you have failed, to comply with any term or provision of these Terms of Service, we also may terminate this agreement at any time without notice and you will remain liable for all amounts due up to and including the date of termination; and/or accordingly may deny you access to our Services (or any part thereof).</p>

        <h2 id="entireagreement">Entire Agreement</h2>

        <p>The failure of us to exercise or enforce any right or provision of these Terms of Service shall not constitute a waiver of such right or provision. These Terms of Service and any policies or operating rules posted by us on this site or in respect to The Service constitutes the entire agreement and understanding between you and us and govern your use of the Service, superseding any prior or contemporaneous agreements, communications and proposals, whether oral or written, between you and us (including, but not limited to, any prior versions of the Terms of Service). Any ambiguities in the interpretation of these Terms of Service shall not be construed against the drafting party.</p>

        <p>Changes to Terms of Service</p>

        <p>You can review the most current version of the Terms of Service at any time at this page. We reserve the right, at our sole discretion, to update, change or replace any part of these Terms of Service by posting updates and changes to our website. It is your responsibility to check our website periodically for changes. Your continued use of or access to our website or the Service following the posting of any changes to these Terms of Service constitutes acceptance of those changes.</p>

        <h2 id="security">Security</h2>

        <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed. If you provide us with your credit card information, the information is encrypted using secure socket layer technology (SSL) and stored with a AES-256 encryption. Although no method of transmission over the Internet or electronic storage is 100% secure, we follow all PCI-DSS requirements and implement additional generally accepted industry standards. Please visit our <router-link 
          to="/info/privacy" 
          class="link">Privacy</router-link> page.</p>

        <h2 id="privacy">Privacy</h2>

        <p>Amy Storm Kosman creative respects the privacy of all users of the website and takes care, that the personal information that you provide us with, with be treated confidentially. Your personal information will be used only for handling your order. For more information on this please visit our <router-link 
          to="/info/privacy" 
          class="link">Privacy</router-link> page.</p>

        <p>Next to handling your order, we will use your information, only after your approval, for marketing means and the relationship with you as our customer.</p>

        <p>The information will never be shared with third parties unless these have to be involved in handling your order.</p>

        <h2 id="governinglaw">Governing Law</h2>

        <p>These Terms of Service and any separate agreements whereby we provide you Services shall be governed by and construed in accordance with the laws of the Netherlands.</p>

        <h3 id="companyinformation">Company information:</h3>

        <h4 id="headofficeandmailingaddress">Head Office and mailing address:</h4>

        <p>Amy Storm Kosman creative <br >
          Mirastraat 13 <br >
          7521 ZE Enshcede Netherlands <br >
          T:0031.6.20707292, ( Tuesday – Friday from 10:00 to 18:00 ) <br >
          E: hello@askcreative.space <br >
          KvK Chamber of Commerce number: 68940394 <br >
          VAT identification number: NL 451324973B01  </p>

        <br>
        <p>last modified: 2018-04-22
        </p>
      </div>
      <div class="column auto"/>
    </div>
  </piecePaper>
</template>

<script>
import piecePaper from '~/components/info/piecePaper.vue'

export default {
  components: {
    piecePaper
  },
  head () {
    return {
      title: `ASKc-Terms and Conditions`,
      meta: [
        { hid: 'description', name: 'description', content: `Amy Storm Kosman creative Terms and Conditions Policy.` }
      ]
    }
  }
}
</script>
<style>
.content {
  font-size: 1.25rem;
  line-height: 2rem;
}
.content a {
  color: #ac3b61;
  text-decoration: underline;
}
</style>