<template>
  <div class="powder">
    <div class="columns">
      <div class="column auto"/>
      <div class="column is-two-thirds">
        <h4 class="is-size-2">The spaces of ASKcreative.
        </h4>
      </div>   
      <div class="column auto"/>
    </div>
    <section class="section">
      <div class="tile is-ancestor">
        <div class="tile auto is-vertical is-parent">
          <div class="tile is-child"/>
          <div class="tile is-child kitty1"/>
          <div class="tile is-child"/>
        </div>
        <div class="tile is-3 is-vertical is-parent">
          <div class="tile is-child box hello">
            <Card url="/about">
              <img 
                slot="image" 
                src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,w_268/v1516458795/frame_k9gikr.png" 
                alt="About">
              <h2>About</h2>
              <hr>
              <svg 
                version="1.1" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                width="80" 
                height="80" 
                viewBox="0 0 20 20">
                <path 
                  d="M7.065 8.372c0.697-0.567 1.682-0.998 2.635-1.414 1.014-0.444 2.062-0.902 2.865-1.554 0.965-0.784 1.435-1.734 1.435-2.904v-1c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v1c0 0.122-0.007 0.24-0.021 0.354l-7.358-1.839c-0.039-0.010-0.079-0.015-0.121-0.015-0.276 0-0.5 0.224-0.5 0.5v1c0 1.891 1.25 2.862 2.191 3.428 0.081 0.049 0.17 0.072 0.257 0.072 0.17 0 0.335-0.086 0.429-0.242 0.142-0.237 0.066-0.544-0.171-0.686-1.196-0.72-1.706-1.489-1.706-2.572v-0.36l6.663 1.666c-0.173 0.295-0.414 0.566-0.728 0.821-0.697 0.567-1.682 0.998-2.635 1.414-1.014 0.444-2.062 0.902-2.865 1.554-0.965 0.784-1.435 1.734-1.435 2.904 0 1.891 1.25 2.862 2.191 3.428 0.081 0.049 0.17 0.072 0.257 0.072 0.17 0 0.335-0.086 0.429-0.242 0.142-0.237 0.066-0.544-0.171-0.686-1.196-0.72-1.706-1.489-1.706-2.572 0-0.122 0.007-0.24 0.021-0.354l6.642 1.661c-0.173 0.295-0.414 0.566-0.728 0.821-0.697 0.567-1.682 0.998-2.635 1.414-1.014 0.444-2.062 0.902-2.865 1.554-0.965 0.784-1.435 1.734-1.435 2.904v1c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5v-1c0-0.122 0.007-0.24 0.021-0.354l7.358 1.839c0.039 0.010 0.079 0.015 0.121 0.015 0.276 0 0.5-0.224 0.5-0.5v-1c0-1.891-1.25-2.862-2.191-3.428-0.237-0.142-0.544-0.066-0.686 0.171s-0.066 0.544 0.171 0.686c1.196 0.72 1.706 1.489 1.706 2.572v0.36l-6.663-1.666c0.173-0.295 0.414-0.566 0.728-0.821 0.697-0.567 1.682-0.998 2.635-1.414 1.014-0.444 2.062-0.902 2.865-1.554 0.965-0.784 1.435-1.734 1.435-2.904 0-1.891-1.25-2.862-2.191-3.428-0.237-0.142-0.544-0.066-0.686 0.171s-0.066 0.544 0.171 0.686c1.196 0.72 1.706 1.489 1.706 2.572 0 0.122-0.007 0.24-0.021 0.354l-6.643-1.661c0.173-0.295 0.414-0.566 0.729-0.822z" 
                  fill="#AC3B61"/>
              </svg>
            </Card>
          </div>
          <div class="tile is-child kitty0"/>
          <div class="tile is-child box hello">
            <card url="/shop">
              <img 
                slot="image" 
                src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,w_268/v1516458795/frame_k9gikr.png" 
                alt="Shop">
              Shop
              <hr>
              <svg 
                version="1.1" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                width="80" 
                height="80" 
                viewBox="0 0 20 20">
                <path 
                  d="M8.5 17c-0.218 0-0.418-0.143-0.481-0.363-0.076-0.266 0.078-0.542 0.343-0.618l7-2c0.266-0.076 0.542 0.078 0.618 0.343s-0.078 0.542-0.343 0.618l-7 2c-0.046 0.013-0.092 0.019-0.138 0.019z" 
                  fill="#AC3B61"/>
                <path 
                  d="M17.998 16.458l-1-12h-0c-0.014-0.171-0.116-0.327-0.274-0.406l-2-1c-0.247-0.123-0.547-0.023-0.671 0.224s-0.023 0.547 0.224 0.671l0.697 0.348-1.258 0.252c-0.029-0.207-0.062-0.418-0.097-0.629-0.445-2.673-1.119-3.918-2.118-3.918-0.399 0-0.774 0.168-1.082 0.486-0.703 0.724-1.139 2.265-1.333 4.71-0.008 0.095-0.014 0.188-0.021 0.281l-2.458 0.492-1.853-1.235 3.856-0.857c0.27-0.060 0.44-0.327 0.38-0.597s-0.327-0.439-0.597-0.38l-1.025 0.228c0.276-1.346 0.685-2.129 1.133-2.129 0.054 0 0.164 0.072 0.297 0.274 0.152 0.231 0.462 0.295 0.692 0.143s0.295-0.462 0.143-0.692c-0.394-0.6-0.833-0.725-1.133-0.725-0.459 0-1.109 0.222-1.604 1.277-0.244 0.521-0.443 1.222-0.591 2.087l-2.914 0.647c-0.196 0.043-0.346 0.199-0.383 0.396-0.003 0.018-0.005 0.036-0.007 0.053l-0-0-1 13c-0.016 0.203 0.093 0.395 0.275 0.486l4 2c0.070 0.035 0.147 0.053 0.224 0.053 0.044 0 0.088-0.006 0.132-0.018l11-3c0.233-0.063 0.387-0.284 0.367-0.524zM11.135 1.183c0.159-0.164 0.284-0.183 0.365-0.183s0.301 0.163 0.551 0.779c0.221 0.545 0.416 1.318 0.579 2.296 0.037 0.224 0.071 0.448 0.102 0.669l-2.651 0.53c0.227-2.848 0.758-3.786 1.054-4.091zM3.933 5.39l2.067 1.378v11.923l-2.976-1.488 0.909-11.814zM7 18.845v-11.935l2.009-0.402c-0.042 1.127-0.018 1.96-0.017 2.007 0.008 0.271 0.23 0.485 0.499 0.485 0.005 0 0.010-0 0.015-0 0.276-0.008 0.493-0.239 0.485-0.515-0-0.012-0.028-0.956 0.027-2.179l2.837-0.567c0.108 1.009 0.146 1.773 0.146 1.785 0.013 0.276 0.247 0.489 0.523 0.476s0.489-0.247 0.476-0.523c-0.002-0.049-0.042-0.864-0.16-1.934l2.209-0.442 0.919 11.027-9.967 2.718z" 
                  fill="#AC3B61"/>
              </svg>
            </card>      
          </div>
        </div>
        <div class="tile is-3 is-vertical is-parent">
          <div class="tile is-child kitty2"/>
          <div class="tile is-child box hello">
            <card url="/gallery">
              <img 
                slot="image" 
                src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,w_268/v1516458795/frame_k9gikr.png" 
                alt="Gallery">
              Gallery
              <hr>
              <svg 
                version="1.1" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                width="80" 
                height="80" 
                viewBox="0 0 20 20">
                <path 
                  d="M16.5 20h-14c-0.827 0-1.5-0.673-1.5-1.5v-13c0-0.827 0.673-1.5 1.5-1.5h14c0.827 0 1.5 0.673 1.5 1.5v13c0 0.827-0.673 1.5-1.5 1.5zM2.5 5c-0.276 0-0.5 0.224-0.5 0.5v13c0 0.276 0.224 0.5 0.5 0.5h14c0.276 0 0.5-0.224 0.5-0.5v-13c0-0.276-0.224-0.5-0.5-0.5h-14z" 
                  fill="#AC3B61"/>
                <path 
                  d="M16.5 3h-14c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h14c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                  fill="#AC3B61"/>
                <path 
                  d="M15.5 1h-12c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h12c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                  fill="#AC3B61"/>
                <path 
                  d="M11.5 13c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM11.5 11c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" 
                  fill="#AC3B61"/>
                <path 
                  d="M14.5 8h-10c-0.276 0-0.5 0.224-0.5 0.5v7c0 0.276 0.224 0.5 0.5 0.5h10c0.276 0 0.5-0.224 0.5-0.5v-7c0-0.276-0.224-0.5-0.5-0.5zM5 13.675l1.266-1.582c0.073-0.091 0.164-0.142 0.259-0.144s0.189 0.044 0.266 0.131l2.596 2.92h-4.387v-1.325zM14 15h-3.275l-3.187-3.585c-0.272-0.306-0.651-0.476-1.039-0.466s-0.758 0.199-1.014 0.519l-0.485 0.606v-3.075h9v6z" 
                  fill="#AC3B61"/>
              </svg>
            </card>  
          </div>    
          <div class="tile is-child kitty3"/>
        </div>
        <div class="tile is-3 is-vertical is-parent">
          <div class="tile is-child box hello">
            <card url="/blog">
              <img 
                slot="image" 
                src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,w_268/v1516458795/frame_k9gikr.png" 
                alt="Blog">
              Blog
              <hr>
              <svg 
                version="1.1" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                width="80" 
                height="80" 
                viewBox="0 0 20 20">
                <path 
                  d="M18.5 5c-0.049 0-1.218 0.006-2.955 0.521-1.515 0.449-3.764 1.386-6.045 3.318-2.281-1.931-4.531-2.869-6.045-3.318-1.737-0.515-2.906-0.521-2.955-0.521-0.276 0-0.5 0.224-0.5 0.5v10c0 0.133 0.053 0.26 0.146 0.354s0.221 0.146 0.354 0.146c0.043 0 4.36 0.044 8.668 3.874 0.095 0.084 0.213 0.126 0.332 0.126s0.237-0.042 0.332-0.126c2.241-1.992 4.476-2.939 5.957-3.382 1.609-0.482 2.701-0.492 2.711-0.492 0.276 0 0.5-0.224 0.5-0.5v-10c0-0.276-0.224-0.5-0.5-0.5zM1 9h0.5c0.276 0 0.5 0.224 0.5 0.5v2c0 0.276-0.224 0.5-0.5 0.5h-0.5v-3zM1 15.029v-2.029h0.5c0.827 0 1.5-0.673 1.5-1.5v-2c0-0.827-0.673-1.5-1.5-1.5h-0.5v-1.965c1.241 0.131 4.606 0.751 8 3.692v8.704c-2.106-1.658-4.141-2.494-5.545-2.91-1.084-0.321-1.947-0.444-2.455-0.491zM15.545 15.521c-1.404 0.416-3.439 1.252-5.545 2.91v-8.704c2.184-1.891 4.345-2.803 5.789-3.235 0.962-0.288 1.74-0.408 2.211-0.457v1.965h-0.5c-0.827 0-1.5 0.673-1.5 1.5v2c0 0.827 0.673 1.5 1.5 1.5h0.5v2.029c-0.507 0.047-1.37 0.17-2.455 0.491zM18 9v3h-0.5c-0.276 0-0.5-0.224-0.5-0.5v-2c0-0.276 0.224-0.5 0.5-0.5h0.5z" 
                  fill="#AC3B61"/>
                <path 
                  d="M9.5 7c1.93 0 3.5-1.57 3.5-3.5s-1.57-3.5-3.5-3.5-3.5 1.57-3.5 3.5 1.57 3.5 3.5 3.5zM9.5 1c1.378 0 2.5 1.122 2.5 2.5s-1.122 2.5-2.5 2.5-2.5-1.122-2.5-2.5 1.122-2.5 2.5-2.5z" 
                  fill="#AC3B61"/>
              </svg>
            </card>
          </div>
          <div class="tile is-child kitty0"/>
          <div class="tile is-child box hello">
            <card url="/contact">
              <img 
                slot="image" 
                src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,w_268/v1516458795/frame_k9gikr.png" 
                alt="Contact">
              Contact
              <hr>
              <svg 
                version="1.1" 
                xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" 
                width="80" 
                height="80" 
                viewBox="0 0 20 20">
                <path 
                  d="M0.5 19c-0.225 0-0.422-0.15-0.482-0.367s0.032-0.447 0.225-0.562c1.691-1.014 2.392-2.489 2.641-3.179-1.838-1.407-2.884-3.354-2.884-5.392 0-1.029 0.258-2.026 0.768-2.964 0.486-0.894 1.18-1.695 2.061-2.381 1.787-1.39 4.156-2.156 6.671-2.156s4.884 0.766 6.671 2.156c0.881 0.685 1.575 1.486 2.061 2.381 0.51 0.937 0.768 1.934 0.768 2.964s-0.258 2.026-0.768 2.964c-0.486 0.894-1.18 1.695-2.061 2.381-1.787 1.39-4.156 2.156-6.671 2.156-1.033 0-2.047-0.129-3.016-0.385-0.429 0.286-1.231 0.793-2.189 1.27-1.488 0.74-2.764 1.115-3.794 1.115zM9.5 3c-4.687 0-8.5 2.916-8.5 6.5 0 1.815 1.005 3.562 2.756 4.792 0.172 0.121 0.25 0.336 0.196 0.539-0.117 0.436-0.515 1.633-1.58 2.788 1.302-0.456 2.704-1.247 3.739-1.959 0.123-0.085 0.277-0.11 0.421-0.069 0.948 0.271 1.947 0.409 2.968 0.409 4.687 0 8.5-2.916 8.5-6.5s-3.813-6.5-8.5-6.5z" 
                  fill="#AC3B61"/>
                <path 
                  d="M9.5 14c-2.481 0-4.5-2.019-4.5-4.5s2.019-4.5 4.5-4.5c2.481 0 4.5 2.019 4.5 4.5s-2.019 4.5-4.5 4.5zM9.5 6c-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5 3.5-1.57 3.5-3.5-1.57-3.5-3.5-3.5z" 
                  fill="#AC3B61"/>
                <path 
                  d="M8.5 8c-0.132 0-0.261-0.053-0.353-0.147s-0.147-0.222-0.147-0.353 0.053-0.26 0.147-0.353 0.222-0.147 0.353-0.147 0.26 0.053 0.353 0.147c0.093 0.093 0.147 0.222 0.147 0.353s-0.053 0.261-0.147 0.353c-0.093 0.093-0.222 0.147-0.353 0.147z" 
                  fill="#AC3B61"/>
                <path 
                  d="M10.5 8c-0.132 0-0.261-0.053-0.353-0.147s-0.147-0.222-0.147-0.353 0.053-0.261 0.147-0.353c0.093-0.093 0.222-0.147 0.353-0.147s0.26 0.053 0.353 0.147c0.093 0.093 0.147 0.222 0.147 0.353s-0.053 0.26-0.147 0.353c-0.093 0.093-0.222 0.147-0.353 0.147z" 
                  fill="#AC3B61"/>
                <path 
                  d="M9.5 12c-1.005 0-1.786-0.453-2.197-1.276-0.294-0.589-0.303-1.16-0.303-1.224 0-0.276 0.224-0.5 0.5-0.5h4c0.276 0 0.5 0.224 0.5 0.5 0 0.063-0.008 0.635-0.303 1.224-0.412 0.823-1.192 1.276-2.197 1.276zM8.088 10c0.030 0.097 0.069 0.2 0.123 0.302 0.246 0.47 0.668 0.698 1.29 0.698s1.044-0.228 1.29-0.698c0.053-0.102 0.093-0.205 0.123-0.302h-2.825z" 
                  fill="#AC3B61"/>
              </svg>
            </card>
          </div>
        </div>
        <div class="tile auto is-vertical is-parent">
          <div class="tile is-child"/>
          <div class="tile is-child kitty4"/>
          <div class="tile is-child"/>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
import Card from '~/components/Card.vue'

export default {
  name: 'MainPart',
  components: {
    Card
  }
}
</script>
<style scoped>
.logo {
  width: 120px;
  display: inline-block;
}
.is-two-thirds{
  text-align: center;
  margin: 3rem;
}
img {
  min-height: 200px;
}
.hello:hover {
  transition: background-color 1s ease-in-out;
  background-color:  rgba(108, 7, 41, 0.5);
  color: transparent;
}
.kitty0 {
  min-height: 3vh;
}
.kitty0:hover {
  transition: 2s ease-in-out;
  background-image: linear-gradient(to bottom, rgba(231, 151, 178, 0.5), rgba(108, 7, 41, 0.5)),
  url('https://res.cloudinary.com/askcreative-space/image/upload/f_auto/v1516458735/logo-pattern_ksghvm.png');
  background-size: 5%;
  color: transparent;
} 
.kitty1:hover {
  transition: 2s ease-in-out;
  background-image: linear-gradient(to bottom, rgba(231, 151, 178, 0.5), rgba(108, 7, 41, 0.5)),
  url('https://res.cloudinary.com/askcreative-space/image/upload/f_auto/v1516458784/logo1_uebvvs.png');
  background-size: 85%;
  color: transparent;
} 
.kitty2:hover {
  transition: 2s ease-in-out;
  background-image: linear-gradient(to bottom, rgba(231, 151, 178, 0.5), rgba(108, 7, 41, 0.5)),
  url('https://res.cloudinary.com/askcreative-space/image/upload/f_auto/v1516458778/logo2_xnne7r.png');
  background-size: 55%;
  color: transparent;
}
.kitty3:hover {
  transition: 2s ease-in-out;
  background-image: linear-gradient(to bottom, rgba(231, 151, 178, 0.5), rgba(108, 7, 41, 0.5)),
  url('https://res.cloudinary.com/askcreative-space/image/upload/f_auto/v1516458764/logo3_d5xlr9.png');
  background-size: 55%;
  color: transparent;
}
.kitty4:hover {
  transition: 2s ease-in-out;
  background-image: linear-gradient(to bottom, rgba(231, 151, 178, 0.5), rgba(108, 7, 41, 0.5)),
  url('https://res.cloudinary.com/askcreative-space/image/upload/f_auto/v1516458759/logo4_s2msgg.png');
  background-size: 85%;
  color: transparent;
}
</style>