<template>
  <footer class="footer">
    <div class="columns is-multiline is-mobile is-centered">
      <div class="column is-12">
        <img 
          class="logo" 
          src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,w_120/v1516458790/logo_rsdvyu.png" 
          alt="A cat peeking through a capital A.">
        <h5> Amy Storm Kosman creative</h5>
        <hr class="low">
        <follow-me-bottom/>
      </div>
      <div class="tile is-ancestor">
        <div class="tile is-2"/>
        <div class="tile is-2">
          <div class="level">
            <a 
              class="bottoma" 
              href="https://goo.gl/maps/ZtXiVzgp1t12" 
              target="blank">
              <div class="level-left">
                <div class="level-item">
                  <svg 
                    version="1.1" 
                    xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" 
                    width="40" 
                    height="40" 
                    viewBox="0 0 20 20">
                    <path 
                      d="M18.777 5.084l-3-2c-0.082-0.055-0.179-0.084-0.277-0.084h-4.5v-1.5c0-0.827-0.673-1.5-1.5-1.5h-2c-0.827 0-1.5 0.673-1.5 1.5v1.5h-5.5c-0.276 0-0.5 0.224-0.5 0.5v4c0 0.276 0.224 0.5 0.5 0.5h5.5v1h-1.5c-0.099 0-0.195 0.029-0.277 0.084l-3 2c-0.139 0.093-0.223 0.249-0.223 0.416s0.084 0.323 0.223 0.416l3 2c0.082 0.055 0.179 0.084 0.277 0.084h1.5v5.5c0 0.276 0.224 0.5 0.5 0.5h4c0.276 0 0.5-0.224 0.5-0.5v-5.5h3.5c0.276 0 0.5-0.224 0.5-0.5v-4c0-0.276-0.224-0.5-0.5-0.5h-3.5v-1h4.5c0.099 0 0.195-0.029 0.277-0.084l3-2c0.139-0.093 0.223-0.249 0.223-0.416s-0.084-0.323-0.223-0.416zM7 1.5c0-0.276 0.224-0.5 0.5-0.5h2c0.276 0 0.5 0.224 0.5 0.5v1.5h-3v-1.5zM10 19h-3v-5h3v5zM14 13h-9.349l-2.25-1.5 2.25-1.5h9.349v3zM10 9h-3v-1h3v1zM15.349 7h-14.349v-3h14.349l2.25 1.5-2.25 1.5z"
                      fill="#bab2b5"/>
                  </svg>
                </div>
                <div class="level-item">
                  <p class="leveled">
                    <b>
                      <i>Address:</i>
                    </b>
                    <br> Mirastraat 13
                    <br> 7521 ZE Enschede NL
                  </p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="tile is-vertical is-2">
          <div class="tile">
            <div class="level">
              <a 
                class="bottoma" 
                href="tel:310620707292">
                <div class="level-left">
                  <div class="level-item">
                    <svg 
                      version="1.1" 
                      xmlns="http://www.w3.org/2000/svg" 
                      xmlns:xlink="http://www.w3.org/1999/xlink" 
                      width="40" 
                      height="40" 
                      viewBox="0 0 20 20">
                      <path 
                        d="M17.894 8.897c-1.041 0-2.928-0.375-3.516-0.963-0.361-0.361-0.446-0.813-0.515-1.177-0.085-0.448-0.136-0.581-0.332-0.666-0.902-0.388-2.196-0.61-3.551-0.61-1.34 0-2.62 0.219-3.512 0.6-0.194 0.083-0.244 0.216-0.327 0.663-0.068 0.365-0.152 0.819-0.512 1.179-0.328 0.328-1.015 0.554-1.533 0.685-0.668 0.169-1.384 0.267-1.963 0.267-0.664 0-1.113-0.126-1.372-0.386-0.391-0.391-0.641-0.926-0.685-1.467-0.037-0.456 0.051-1.132 0.68-1.762 1.022-1.022 2.396-1.819 4.086-2.368 1.554-0.506 3.322-0.773 5.114-0.773 1.804 0 3.587 0.27 5.156 0.782 1.705 0.556 3.093 1.361 4.124 2.393 1.050 1.050 0.79 2.443 0.012 3.221-0.257 0.257-0.7 0.382-1.354 0.382zM9.98 4.481c1.507 0 2.908 0.246 3.946 0.691 0.713 0.306 0.833 0.938 0.92 1.398 0.052 0.275 0.097 0.513 0.24 0.656 0.252 0.252 1.706 0.671 2.809 0.671 0.481 0 0.633-0.082 0.652-0.094 0.31-0.314 0.698-1.086-0.017-1.802-1.805-1.805-5.010-2.882-8.574-2.882-3.535 0-6.709 1.065-8.493 2.848-0.288 0.288-0.42 0.616-0.391 0.974 0.025 0.302 0.17 0.614 0.39 0.836 0.019 0.012 0.173 0.098 0.67 0.098 1.098 0 2.541-0.411 2.789-0.659 0.141-0.141 0.185-0.379 0.236-0.654 0.086-0.462 0.203-1.095 0.917-1.4 1.026-0.439 2.413-0.68 3.905-0.68z"
                        fill="#bab2b5"/>
                      <path 
                        d="M16.5 18h-13c-0.671 0-1.29-0.264-1.743-0.743s-0.682-1.112-0.645-1.782c0.004-0.077 0.118-1.901 1.27-3.739 0.682-1.088 1.586-1.955 2.686-2.577 1.361-0.769 3.020-1.159 4.932-1.159s3.571 0.39 4.932 1.159c1.101 0.622 2.005 1.489 2.686 2.577 1.152 1.839 1.266 3.663 1.27 3.739 0.037 0.67-0.192 1.303-0.645 1.782s-1.072 0.743-1.743 0.743zM10 9c-3.117 0-5.388 1.088-6.749 3.233-1.030 1.623-1.139 3.282-1.14 3.299-0.022 0.392 0.111 0.761 0.373 1.038s0.623 0.43 1.017 0.43h13c0.393 0 0.754-0.153 1.017-0.43s0.395-0.646 0.373-1.039c-0.001-0.016-0.111-1.675-1.14-3.298-1.362-2.145-3.633-3.233-6.749-3.233z"
                        fill="#bab2b5"/>
                      <path 
                        d="M10 16c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3zM10 11c-1.103 0-2 0.897-2 2s0.897 2 2 2c1.103 0 2-0.897 2-2s-0.897-2-2-2z"
                        fill="#bab2b5"/>
                    </svg>
                  </div>
                  <div class="level-item">
                    <p class="leveled">
                      <b>
                        <i>Telephone:</i>
                      </b>
                      <br> +31 06-20707292
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="tile">
            <div class="level">
              <a 
                class="bottoma" 
                href="mailto:hello@askcreative.space">
                <div class="level-left">
                  <div class="level-item">
                    <svg 
                      version="1.1" 
                      xmlns="http://www.w3.org/2000/svg" 
                      xmlns:xlink="http://www.w3.org/1999/xlink" 
                      width="40" 
                      height="40" 
                      viewBox="0 0 20 20">
                      <path 
                        d="M17.5 6h-16c-0.827 0-1.5 0.673-1.5 1.5v9c0 0.827 0.673 1.5 1.5 1.5h16c0.827 0 1.5-0.673 1.5-1.5v-9c0-0.827-0.673-1.5-1.5-1.5zM17.5 7c0.030 0 0.058 0.003 0.087 0.008l-7.532 5.021c-0.29 0.193-0.819 0.193-1.109 0l-7.532-5.021c0.028-0.005 0.057-0.008 0.087-0.008h16zM17.5 17h-16c-0.276 0-0.5-0.224-0.5-0.5v-8.566l7.391 4.927c0.311 0.207 0.71 0.311 1.109 0.311s0.798-0.104 1.109-0.311l7.391-4.927v8.566c0 0.276-0.224 0.5-0.5 0.5z"
                        fill="#bab2b5"/>
                    </svg>
                  </div>
                  <div class="level-item">
                    <p class="leveled">
                      <b>
                        <i>eMail:</i>
                      </b>
                      <br>hello@askcreative.space
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-vertical is-2">
          <div class="tile">
            <div class="level">
              <a 
                class="bottoma" 
                href="https://www.kvk.nl/orderstraat/bedrijf-kiezen/?q=#!shop?&q=" 
                target="blank">
                <div class="level-left">
                  <div class="level-item">
                    <svg 
                      version="1.1" 
                      xmlns="http://www.w3.org/2000/svg" 
                      xmlns:xlink="http://www.w3.org/1999/xlink" 
                      width="40" 
                      height="40" 
                      viewBox="0 0 20 20">
                      <path 
                        d="M18.5 5h-4.5v-1.5c0-0.827-0.673-1.5-1.5-1.5h-5c-0.827 0-1.5 0.673-1.5 1.5v1.5h-4.5c-0.827 0-1.5 0.673-1.5 1.5v11c0 0.827 0.673 1.5 1.5 1.5h17c0.827 0 1.5-0.673 1.5-1.5v-11c0-0.827-0.673-1.5-1.5-1.5zM7 3.5c0-0.276 0.224-0.5 0.5-0.5h5c0.276 0 0.5 0.224 0.5 0.5v1.5h-6v-1.5zM1.5 6h17c0.276 0 0.5 0.224 0.5 0.5v7.5h-2v-0.5c0-0.276-0.224-0.5-0.5-0.5h-2c-0.276 0-0.5 0.224-0.5 0.5v0.5h-8v-0.5c0-0.276-0.224-0.5-0.5-0.5h-2c-0.276 0-0.5 0.224-0.5 0.5v0.5h-2v-7.5c0-0.276 0.224-0.5 0.5-0.5zM16 14v1h-1v-1h1zM5 14v1h-1v-1h1zM18.5 18h-17c-0.276 0-0.5-0.224-0.5-0.5v-2.5h2v0.5c0 0.276 0.224 0.5 0.5 0.5h2c0.276 0 0.5-0.224 0.5-0.5v-0.5h8v0.5c0 0.276 0.224 0.5 0.5 0.5h2c0.276 0 0.5-0.224 0.5-0.5v-0.5h2v2.5c0 0.276-0.224 0.5-0.5 0.5z"
                        fill="#bab2b5"/>
                    </svg>
                  </div>
                  <div class="level-item">
                    <p class="leveled">
                      <b>
                        <i>KvK
                        </i>
                      </b>
                      <br> 68940394
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="tile">
            <div class="level">
              <a 
                class="bottoma" 
                href="http://ec.europa.eu/taxation_customs/vies/vatRequest.html" 
                target="blank">
                <div class="level-left">
                  <div class="level-item">
                    <svg 
                      version="1.1" 
                      xmlns="http://www.w3.org/2000/svg" 
                      xmlns:xlink="http://www.w3.org/1999/xlink" 
                      width="40" 
                      height="40" 
                      viewBox="0 0 20 20">
                      <path 
                        d="M4.501 15c-0.017 0-0.034-0.001-0.052-0.003-0.273-0.028-0.472-0.271-0.447-0.544 0.239-2.52 1.062-4.786 2.449-6.734 1.138-1.599 2.649-2.982 4.493-4.11 3.19-1.952 6.524-2.609 7.556-2.609 0.276 0 0.5 0.224 0.5 0.5 0 0.944-0.877 1.821-1.252 2.196-0.611 0.611-1.712 0.993-2.777 1.363-0.031 0.011-0.062 0.022-0.093 0.032 0.682-0.034 1.269-0.039 1.557-0.039 0.065 0 0.101 0 0.101 0 0.186 0.002 0.355 0.106 0.44 0.271s0.072 0.363-0.035 0.516c-0.8 1.145-1.776 2.037-2.983 2.727-0.579 0.331-1.217 0.485-2.009 0.485-0.462 0-0.926-0.052-1.375-0.102-0.433-0.048-0.881-0.098-1.309-0.098-0.774 0-1.363 0.162-1.909 0.526-0.017 0.012-0.035 0.022-0.054 0.031-0.725 0.362-1.352 1.351-1.815 2.859-0.367 1.196-0.49 2.278-0.491 2.289-0.028 0.255-0.245 0.445-0.496 0.445zM17.805 2.068c-1.305 0.2-3.851 0.872-6.338 2.394-1.376 0.842-2.917 2.068-4.157 3.794 0.576-0.275 1.211-0.405 1.956-0.405 0.484 0 0.96 0.053 1.42 0.104 0.442 0.049 0.859 0.096 1.265 0.096 0.611 0 1.091-0.112 1.513-0.353 0.789-0.451 1.45-0.98 2.028-1.629-0.928 0.029-2.277 0.11-3.125 0.336-0.201 0.054-0.414-0.023-0.535-0.192s-0.125-0.395-0.010-0.568c0.477-0.715 1.616-1.111 2.823-1.53 0.958-0.333 1.949-0.677 2.398-1.126 0.158-0.158 0.532-0.532 0.763-0.921z"
                        fill="#bab2b5"/>
                      <path 
                        d="M7.568 16.925c-0.006-0.006-0.568-0.641-0.568-1.425 0-0.36-0.193-0.701-0.544-0.961-0.222-0.164-0.535-0.117-0.699 0.105s-0.117 0.535 0.105 0.699c0.114 0.084 0.139 0.146 0.139 0.157 0 0.017-0.054 0.132-0.309 0.26-0.305 0.153-0.739 0.24-1.191 0.24s-0.885-0.088-1.191-0.24c-0.256-0.128-0.309-0.243-0.309-0.26 0-0.008 0.016-0.054 0.095-0.122 0.209-0.181 0.232-0.496 0.051-0.705s-0.496-0.232-0.705-0.051c-0.364 0.315-0.441 0.651-0.441 0.878 0 0.785-0.564 1.42-0.568 1.425-0.543 0.593-0.543 1.557 0 2.15 0.087 0.095 0.91 0.925 3.068 0.925s2.981-0.83 3.068-0.925c0.543-0.593 0.543-1.557 0-2.15zM6.831 18.399c-0.006 0.006-0.627 0.601-2.331 0.601-1.656 0-2.293-0.566-2.336-0.606-0.19-0.214-0.188-0.582 0.005-0.793 0.022-0.024 0.366-0.405 0.604-0.993 0.029 0.016 0.058 0.032 0.089 0.047 0.446 0.223 1.027 0.346 1.638 0.346s1.192-0.123 1.638-0.346c0.030-0.015 0.060-0.031 0.089-0.047 0.238 0.588 0.582 0.969 0.604 0.993 0.195 0.213 0.195 0.586 0 0.799z"
                        fill="#bab2b5"/>
                    </svg>
                  </div>
                  <div class="level-item">
                    <p class="leveled">
                      <b>
                        <i>VAT
                        </i>
                      </b>
                      <br> NL 451324973B01
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="tile is-2">
          <div class="level">
            <router-link 
              exact 
              to="/info/" 
              class="bottoma">
              <div class="level-left">
                <div class="level-item">
                  <svg 
                    version="1.1" 
                    xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" 
                    width="40" 
                    height="40" 
                    viewBox="0 0 20 20">
                    <path 
                      d="M10.5 0h-2c-0.827 0-1.5 0.673-1.5 1.5v0.586c-0.157-0.056-0.325-0.086-0.5-0.086h-5c-0.827 0-1.5 0.673-1.5 1.5v15c0 0.827 0.673 1.5 1.5 1.5h5c0.384 0 0.734-0.145 1-0.383 0.266 0.238 0.616 0.383 1 0.383h2c0.827 0 1.5-0.673 1.5-1.5v-17c0-0.827-0.673-1.5-1.5-1.5zM6.5 19h-5c-0.276 0-0.5-0.224-0.5-0.5v-15c0-0.276 0.224-0.5 0.5-0.5h5c0.276 0 0.5 0.224 0.5 0.5v15c0 0.276-0.224 0.5-0.5 0.5zM11 18.5c0 0.276-0.224 0.5-0.5 0.5h-2c-0.276 0-0.5-0.224-0.5-0.5v-17c0-0.276 0.224-0.5 0.5-0.5h2c0.276 0 0.5 0.224 0.5 0.5v17z"
                      fill="#bab2b5"/>
                    <path 
                      d="M5.5 6h-2.859c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h2.859c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z"
                      fill="#bab2b5"/>
                    <path 
                      d="M18.61 19.623l-2.978 0.366c-0.821 0.101-1.571-0.485-1.672-1.306l-1.95-15.881c-0.101-0.821 0.485-1.571 1.306-1.672l2.978-0.366c0.821-0.101 1.571 0.485 1.672 1.306l1.95 15.881c0.101 0.821-0.485 1.571-1.306 1.672zM13.439 2.123c-0.274 0.034-0.469 0.284-0.435 0.557l1.95 15.881c0.034 0.274 0.284 0.469 0.557 0.435l2.978-0.366c0.274-0.034 0.469-0.284 0.435-0.557l-1.95-15.881c-0.034-0.274-0.284-0.469-0.557-0.435l-2.978 0.366z"
                      fill="#bab2b5"/>
                    <path 
                      d="M15.79 4.857l-0.993 0.122c-0.274 0.034-0.524-0.161-0.557-0.435s0.161-0.524 0.435-0.557l0.993-0.122c0.274-0.034 0.524 0.161 0.557 0.435s-0.161 0.524-0.435 0.557z"
                      fill="#bab2b5"/>
                  </svg>
                </div>
                <div class="level-item">
                  <p class="leveled">
                    <b>
                      <i>Information:
                      </i>
                    </b>
                    <br>Cookies
                    <br>FAQ
                    <br> Payments
                    <br> Privacy
                    <br> Returns
                    <br>Shipping
                    <br> Terms &amp; Conditions
                  </p>
                </div>
              </div>
            </router-link>
          </div>
        </div>
        <div class="tile is-2"/>
      </div>
      <div class="column is-12 is-narrow">
        Created with love
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="40" 
          height="40" 
          viewBox="0 0 20 20">
          <path 
            d="M9.5 19c-0.084 0-0.167-0.021-0.243-0.063-0.094-0.052-2.326-1.301-4.592-3.347-1.341-1.21-2.411-2.448-3.183-3.68-0.984-1.571-1.482-3.139-1.482-4.66 0-2.895 2.355-5.25 5.25-5.25 0.98 0 2.021 0.367 2.931 1.034 0.532 0.39 0.985 0.86 1.319 1.359 0.334-0.499 0.787-0.969 1.319-1.359 0.91-0.667 1.951-1.034 2.931-1.034 2.895 0 5.25 2.355 5.25 5.25 0 1.521-0.499 3.089-1.482 4.66-0.771 1.232-1.842 2.47-3.182 3.68-2.266 2.046-4.498 3.295-4.592 3.347-0.076 0.042-0.159 0.063-0.243 0.063zM5.25 3c-2.343 0-4.25 1.907-4.25 4.25 0 3.040 2.35 5.802 4.321 7.585 1.76 1.592 3.544 2.708 4.179 3.087 0.635-0.379 2.419-1.495 4.179-3.087 1.971-1.782 4.321-4.545 4.321-7.585 0-2.343-1.907-4.25-4.25-4.25-1.703 0-3.357 1.401-3.776 2.658-0.068 0.204-0.259 0.342-0.474 0.342s-0.406-0.138-0.474-0.342c-0.419-1.257-2.073-2.658-3.776-2.658z"
            fill="#aaa39d"/>
        </svg>
        coffee
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="40" 
          height="40" 
          viewBox="0 0 20 20">
          <path 
            d="M17.733 12.649c-0.188-0.314-0.475-0.523-0.829-0.604-0.37-0.085-0.769-0.017-1.117 0.096 0.137-0.742 0.189-1.299 0.205-1.516 0.005-0.044 0.007-0.085 0.007-0.125 0-0.006-0-0.012-0.001-0.019-0-0.002-0-0.005-0-0.007-0.016-0.702-0.666-1.28-1.934-1.719-1.059-0.367-2.524-0.62-4.125-0.714-0.276-0.016-0.512 0.194-0.528 0.47s0.194 0.512 0.47 0.528c1.512 0.088 2.881 0.323 3.856 0.661 1.005 0.348 1.25 0.688 1.262 0.792-0.001 0.007-0.001 0.016-0.002 0.027-0.030 0.139-0.374 0.54-1.685 0.914-1.279 0.365-2.988 0.567-4.812 0.567s-3.534-0.201-4.812-0.567c-1.311-0.375-1.655-0.776-1.685-0.914-0.001-0.011-0.002-0.020-0.002-0.028 0.021-0.231 0.88-0.939 3.57-1.304 0.274-0.037 0.465-0.289 0.428-0.563s-0.289-0.465-0.563-0.428c-1.226 0.166-2.272 0.43-3.025 0.763-0.924 0.409-1.399 0.919-1.411 1.516-0 0.001-0 0.002-0 0.003-0 0.007-0.001 0.014-0.001 0.021 0 0.039 0.002 0.081 0.007 0.125 0.035 0.467 0.233 2.503 1.094 4.568 1.311 3.145 3.523 4.808 6.399 4.808 1.845 0 3.418-0.685 4.654-2.006 0.046-0.007 0.091-0.020 0.135-0.040 0.040-0.019 0.993-0.463 2.029-1.138 1.451-0.945 2.319-1.857 2.581-2.71 0.157-0.511 0.1-1.014-0.166-1.456zM8.5 19c-2.468 0-4.307-1.403-5.467-4.171-0.434-1.037-0.69-2.084-0.839-2.891 0.337 0.169 0.745 0.322 1.218 0.457 1.366 0.39 3.172 0.605 5.087 0.605s3.722-0.215 5.087-0.605c0.473-0.135 0.881-0.288 1.218-0.457-0.148 0.808-0.404 1.855-0.839 2.891-1.16 2.767-2.999 4.171-5.467 4.171zM16.942 13.812c-0.185 0.604-0.953 1.371-2.161 2.159-0.121 0.079-0.241 0.155-0.359 0.227 0.17-0.316 0.329-0.652 0.477-1.006 0.263-0.631 0.464-1.258 0.617-1.84 0.299-0.172 0.838-0.408 1.164-0.333 0.090 0.021 0.146 0.062 0.195 0.144 0.12 0.2 0.142 0.407 0.067 0.648z"
            fill="#aaa39d"/>
          <path 
            d="M9.494 11c0.008 0 0.014-0 0.016-0 0.276-0.006 0.497-0.234 0.491-0.51s-0.233-0.496-0.509-0.49c-0.007 0-0.688 0.001-1.117-0.425-0.249-0.247-0.376-0.609-0.376-1.075 0-1.44 0.359-2.096 0.74-2.791 0.374-0.682 0.76-1.388 0.76-2.709 0-1.6-0.53-2.678-0.553-2.724-0.124-0.247-0.424-0.347-0.671-0.224s-0.347 0.424-0.224 0.671c0.004 0.009 0.447 0.91 0.447 2.276 0 1.065-0.295 1.604-0.637 2.229-0.404 0.738-0.863 1.575-0.863 3.271 0 0.748 0.229 1.352 0.681 1.794 0.694 0.68 1.671 0.706 1.814 0.706z"
            fill="#aaa39d"/>
        </svg>
        and tea
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="40" 
          height="40" 
          viewBox="0 0 20 20">
          <path 
            d="M20 6.5c0-0.841-0.878-1.5-2-1.5-0.036 0-0.071 0.001-0.106 0.002-1.603 0.042-2.188 1.036-2.754 1.999-0.257 0.437-0.519 0.882-0.885 1.305-0.172-0.629-0.254-1.216-0.254-1.806 0-0.147-0.063-0.278-0.164-0.369 0.123-0.226 0.164-0.442 0.164-0.631 0-0.455-0.248-1.115-1.427-1.672-0.665-0.314-1.523-0.548-2.503-0.687 0.009-0.094 0.015-0.187 0.015-0.277 0-0.538-0.172-0.993-0.498-1.317-0.365-0.363-0.899-0.547-1.586-0.547s-1.221 0.184-1.586 0.547c-0.326 0.324-0.498 0.78-0.498 1.317 0 0.090 0.005 0.183 0.015 0.277-0.866 0.123-1.636 0.32-2.262 0.581-0.096-0.112-0.216-0.233-0.363-0.343-0.582-0.436-1.283-0.481-1.972-0.126-0.736 0.379-1.545 1.274-1.22 3.385 0.19 1.235 0.687 2.436 0.926 3.013 0.011 0.027 0.022 0.054 0.033 0.081-0.014 0.036-0.029 0.072-0.043 0.108-0.506 1.269-1.030 2.582-1.030 3.659 0 2.106 0.831 3.82 2.404 4.958 1.394 1.009 3.329 1.542 5.596 1.542s4.203-0.533 5.596-1.542c1.572-1.138 2.404-2.853 2.404-4.958 0-0.186-0.015-0.374-0.045-0.571 0.045-0.055 0.089-0.113 0.133-0.172 0.489-0.663 0.884-1.52 1.265-2.348 0.498-1.082 1.012-2.198 1.629-2.596 0.612-0.254 1.019-0.741 1.019-1.313zM19 6.5c0 0.092-0.079 0.202-0.221 0.296-0.084 0.034-0.165 0.073-0.244 0.118-0.149 0.052-0.329 0.086-0.535 0.086-0.61 0-1-0.296-1-0.5 0-0.197 0.365-0.481 0.941-0.499 0.019-0 0.039-0.001 0.059-0.001 0.61 0 1 0.296 1 0.5zM6.923 2.715c0.036-0.333 0.191-0.715 1.077-0.715s1.041 0.382 1.077 0.715c0.022 0.205-0.004 0.448-0.072 0.704-0.002 0.007-0.004 0.014-0.006 0.021-0.068 0.248-0.174 0.509-0.315 0.761-0.276 0.496-0.57 0.753-0.685 0.795-0.115-0.042-0.409-0.299-0.685-0.795-0.141-0.255-0.248-0.517-0.316-0.767-0.001-0.005-0.002-0.009-0.004-0.014-0.068-0.257-0.094-0.5-0.072-0.706zM6.556 4.881c0.26 0.418 0.794 1.119 1.444 1.119s1.184-0.701 1.444-1.119c0.153-0.246 0.282-0.504 0.383-0.764 0.917 0.123 1.73 0.337 2.319 0.615 0.629 0.297 0.854 0.591 0.854 0.767 0 0.238-0.396 0.622-1.282 0.944-0.985 0.358-2.306 0.556-3.718 0.556s-2.733-0.197-3.718-0.556c-0.885-0.322-1.282-0.706-1.282-0.944 0-0.176 0.224-0.47 0.854-0.767 0.589-0.278 1.402-0.493 2.319-0.615 0.101 0.259 0.229 0.517 0.383 0.764zM1.102 6.487c-0.188-1.223 0.044-2.012 0.689-2.344 0.342-0.176 0.626-0.169 0.895 0.022 0.025 0.018 0.049 0.037 0.072 0.056-0.61 0.454-0.758 0.927-0.758 1.278 0 0.188 0.041 0.404 0.164 0.631-0.1 0.091-0.164 0.223-0.164 0.369 0 0.527-0.167 1.166-0.4 1.843-0.195-0.542-0.397-1.2-0.498-1.856zM8 19c-4.383 0-7-2.056-7-5.5 0-0.885 0.487-2.107 0.959-3.288 0.447-1.121 0.907-2.276 1.017-3.283 0.255 0.159 0.571 0.312 0.965 0.455 1.092 0.397 2.534 0.616 4.060 0.616s2.968-0.219 4.060-0.616c0.387-0.141 0.701-0.292 0.953-0.449 0.041 0.685 0.178 1.373 0.422 2.117-0.066 0.048-0.135 0.095-0.207 0.141-0.769 0.497-1.229 1.359-1.229 2.306 0 0.642 0.192 1.251 0.539 1.714 0.375 0.499 0.907 0.786 1.461 0.786 0.351 0 0.682-0.081 0.995-0.245-0.127 3.29-2.721 5.245-6.995 5.245zM16.445 9.99c-0.681 1.48-1.386 3.010-2.445 3.010-0.542 0-1-0.687-1-1.5 0-0.606 0.288-1.154 0.771-1.466 0.203-0.131 0.387-0.267 0.556-0.407 0.003-0.003 0.006-0.005 0.010-0.008 0.828-0.688 1.285-1.465 1.665-2.111 0.070-0.119 0.136-0.232 0.201-0.339 0.253 0.39 0.723 0.679 1.3 0.786-0.388 0.579-0.719 1.297-1.059 2.035z"
            fill="#aaa39d"/>
        </svg>
      </div>
      Copyright &copy; 2017-2018.
    </div>
    <div v-html="scripts"/>
  </footer>
</template>


<script>
import followMeBottom from '~/components/followMeBottom.vue'

  export default {
    name: 'MyBottom',
    components: {
      followMeBottom
    },
    data: () => ({
      scripts: "<script src='https://optanon.blob.core.windows.net/langswitch/4cd12a2f-e766-4409-87f0-920309524863.js' type='text/javascript' charset='UTF-8'><\/script><script type='text/javascript'> function OptanonWrapper() { }<\/script>"
    })
  }
</script>

<style scoped>
.footer,
.panel-heading {
  background: linear-gradient(20deg, #413e3c 70%, #fefcfb);
  color: #bab2b5;
  text-align: center;
}
.logo {
  width: 120px;
  display: inline-block;
}
.low {
  margin: 5px 0 20px;
  border: 0;
  height: 10px;
  background: linear-gradient(90deg, #ac3b61, #336ca4, #0d4276, #6c0729);
}
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 1s ease, transform 1s ease;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  border-radius: 4px;
  border-bottom: 0;
  color: #bab2b5;
  text-align: center;
  text-decoration: none;
  z-index: 3;
}
a.bottoma:hover {
  color: #d9d5d6;
  background-color: #ac3b61;
}
@media (max-width: 1399px){
p.leveled {
  font-size: 0.75rem;
}
}
@media (min-width: 799px) and (max-width: 1150px){
  .tile.is-ancestor {
  display: block;
  margin-left: 40vw;
}
}
</style>
