<template>
  <one-article>
    <section class="hero is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            Bolo de Cenoura Brazilian Carrot Cake
          </h1>
        </div>
      </div>
    </section>
    <div class="columns is-mobile">
      <div class="column auto"/>
      <div class="column is-four-fifths-mobile is-three-fifths-tablet content">

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1525380885/Optimized-brazcake_cgrxrp.jpg" 
          alt="Brazilian Carrot Cake" ></p>

        <h1 id="bolodecenourabraziliancarrotcake">Bolo de Cenoura (Brazilian Carrot Cake)</h1>

        <p>Simply Ina posted a recipe for this awesome carrot cake <a href="https://simplyina.com/brazilian-carrot-cake-bolo-de-cenoura-traditional-recipe/">here</a></p>

        <p>I made a couple modifications. I don't have a blender so I grated the carrots. I also doubled the vanilla extract as is my habit. Lastly I used 100grams of chocolate as I bought a 100gram bar and figured might as well use the whole thing.</p>

        <h2 id="ingredients">Ingredients:</h2>

        <h3 id="forthecake">For the Cake:</h3>

        <ul>
          <li>[ ] 4 medium carrots (finely chopped, minced) - I grated them</li>

          <li>[ ] ½ cup vegetable oil</li>

          <li>[ ] 4 large eggs</li>

          <li>[ ] 2 teaspoons baking powder</li>

          <li>[ ] 2 1/2 cups and 1 tablespoons flour</li>

          <li>[ ] 2 cups sugar</li>

          <li>[ ] 2 teaspoons vanilla extract - I used 4 teaspoons</li>
        </ul>

        <h3 id="forthesauce">For the Sauce:</h3>

        <ul>
          <li>[ ] 2 teaspoons melted butter</li>

          <li>[ ] 75 grams’ dark chocolate (70%) or 3 ½ tablespoons cocoa powder -
          I used a 100gram dark chocolate bar</li>

          <li>[ ] 4 tablespoons milk</li>

          <li>[ ] ½ cup sugar</li>
        </ul>

        <h2 id="instructions">Instructions:</h2>

        <h3 id="tomakethecake">To make the cake:</h3>

        <ol>
          <li>Preheat oven to 180°C/350°F/Gas Mark 4 / Gas 4. Grease and flour a
          20x30 cm cake tin.</li>

          <li>In a food processor or blender mix the sugar, eggs, oil, and chopped
          carrots. Process until smooth. - I didn't do this.</li>

          <li>Then, transfer the mixture into a bowl and add in the baking powder
          and flour.</li>

          <li>Combine well with a wooden spoon.</li>

          <li>Spread the cake mixture into the prepared tin.</li>

          <li>Place in the oven and bake for about 35-40 minutes. </li>

          <li>Let it cool in the tin, while preparing the chocolate sauce.</li>
        </ol>

        <h3 id="tomakethechocolatesauce">To make the chocolate sauce:</h3>

        <ol>
          <li>In a saucepan, apply all ingredients for the chocolate sauce and set
          over medium heat.</li>

          <li>Bring to a boil, stirring constantly, then lower the heat and cook
          for additional 4-5 minutes, or until the mixture thickens.</li>

          <li>Let the sauce to cool slightly, then spread over the cooled cake
          with a spatula.</li>

          <li>Slice and serve.</li>
        </ol>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1523815188/Optimized-braziliancarrotcake3_kmeenb.jpg" 
          alt="picture of cake from the side" ></p>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1523815188/Optimized-braziliancarrotcake2_iqnrad.jpg" 
          alt="picture of cake from above" ></p>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1523815266/Optimized-braziliancarrotcake1_b5o7sf.jpg" 
          alt="close up picture of cake slice" ></p>
      </div>
      <div class="column auto"/>
    </div>
    <div class="columns is-mobile">
      <div class="column auto"/>
      <div 
        class="column is-four-fifths-mobile is-three-fifths-tablet just-comments" 
        data-allowguests="true" 
        data-recaptcha="true" 
        data-apikey="My-Secret-API"/>
      <script 
        async 
        src="https://just-comments.com/w.js"/>
      <script 
        src="https://www.google.com/recaptcha/api.js?onload=jcOnRecaptchaLoad&render=explicit" 
        async 
        defer/>
      <div class="column auto"/>
    </div>
  </one-article>
</template>

<script>
import oneArticle from '~/components/blog/oneArticle.vue'

export default {
    components: {
    oneArticle,
    },
    head () {
    return {
      title: `A.S.K.c - Bolo de Cenoura Brazilian Carrot Cake`,
      meta: [
        { hid: 'description', name: 'description', content: `An easy delicious carrot cake with chocolate frosting.` }
      ]
    }
  }
}
</script>
<style>
.content {
  font-size: 1.25rem;
  line-height: 2rem;
}
.content a {
  color: #ac3b61;
  text-decoration: underline;
}
.just-comments {
  margin-top: 5vh;
}
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
</style>
