<template>
  <one-article>
    <section class="hero is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            How I chose my color scheme.
          </h1>
        </div>
      </div>
    </section>
    <div class="columns is-mobile">
      <div class="column auto"/>
      <div class="column is-four-fifths-mobile is-three-fifths-tablet content">

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1520607421/webpostpallette_t3hzxj.png" 
          alt="color palette" ></p>

        <h1 id="howichoseacolorpalattecolorscheme">How I chose a Color Palatte / Color Scheme</h1>

        <p>Environmental concerns are a core value of my company. So my website should feature green? I went to <a href="https://www.awwwards.com">Awwwards</a> and began my search for inspiration. I don't care much for green. Maybe my favorite colors. Grey and lavender. I envisioned my website to be pretty and energetic. I want my brand to feel mature and natural. These were some of my favorite sites and their colors.  </p>

        <h2 id="findinginspiration">Finding Inspiration</h2>

        <h3 id="envylabshttpsenvylabscom"><a href="https://envylabs.com">Envy Labs</a></h3>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1524385718/envy_zwi3hg.png" 
          alt="" ></p>

        <h3 id="colortheoryhttpwwwcolortheoryca"><a href="http://www.colortheory.ca">Color Theory</a></h3>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,q_auto,w_850/v1520607429/Screenshot-2018-3-9_Color_Theory_gltixa.jpg" 
          alt="Screenshot of website" ></p>

        <h3 id="wijndoekjehttpwwwwijndoekjenl"><a href="http://www.wijndoekje.nl">Wijn Doekje</a></h3>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,q_auto,w_850/v1520607467/Screenshot-2018-3-9_Wijndoekje_-_Voor_een_lach_zonder_wijnaanslag_clseiq.png" 
          alt="Screenshot of website" ></p>

        <h3 id="lecoldeclaudinehttpwwwlecoldeclaudinecomfr"><a href="http://www.lecoldeclaudine.com/fr">Le Col de Claudine</a></h3>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,q_auto,w_850/v1520607455/Screenshot-2018-3-9_Le_Col_de_Claudine_-_Home_qhxpj1.jpg" 
          alt="Screenshot of website" ></p>

        <h3 id="livingformhttplivingformcom"><a href="http://living-form.com">Living Form</a></h3>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,q_auto,w_850/v1520607448/Screenshot-2018-3-9_Home_Living_Form_sgsj2c.png" 
          alt="Screenshot of website" ></p>

        <h3 id="octoberhttpsoctcoessays"><a href="https://oct.co/essays">October</a></h3>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,q_auto,w_850/v1520607440/Screenshot-2018-3-9_Essays_on_Beer_qu0w9s.jpg" 
          alt="Screenshot of website" ></p>

        <h3 id="nji3httpsnji3comivanapi"><a href="https://nji3.com/ivana-pi">NJI3</a></h3>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1524385713/nji3_psosst.png" 
          alt="" ></p>

        <h3 id="bashfulcreativeagencyhttpbashfulcomau"><a href="http://bashful.com.au">Bashful Creative Agency</a></h3>

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1524385708/bashful_riakvu.png" 
          alt="" ></p>

        <p>I loved the dark backgrounds. Especially the dark browns. Color theory in web design says to avoid too much black and white. They're too harsh. #1D1D1D instead of #000. Pink looks good with brown, but so does blue. Blue felt a bit boring. It didn't excite me. I wanted something more vibrant. Reds are vibrant but too urgent. I put to work some of my favorite color scheme tools.</p>

        <h3 id="mixandmatch">Mix and Match</h3>

        <p>What it all came down to is I really liked the pinks with the dark browns. Time for some mixing and matching with</p>

        <h4 id="coolorshttpscoolorsco"><a href="https://coolors.co">Coolors</a></h4>

        <h4 id="palettonhttppalettoncom"><a href="http://paletton.com">Paletton</a></h4>

        <p>Then a bit of grey and voila.</p>

        <pre><code class="css language-css">:root {
        --color-pink: #AC3B61;
        --color-powder: #FEFCFB;
        --color-grey1: #D9D5D6;
        --color-grey2: #BAB2B5;
        --color-font: #413E3C;
        }
        </code></pre>

        <p>There are always some standard website colors. Success, Warning, Danger, etc. and with the help of <a href="http://javier.xyz/cohesive-colors/">Cohesive Colors</a> behold.</p>

        <pre><code class="css language-css">:root {
        --color-blue: #336CA4;
        --color-green: #3E9523;
        --color-ruby: #8C0C23;
        --color-orange: #F54002
        }
        </code></pre>

        <p>I used the above colors and tools to make up some lighter and darker colors if the need arises.</p>

        <pre><code class="css language-css">:root {
        --color-lighter-blue: #7DA9D3;
        --color-light-blue: #5186B9;
        --color-blue: #336CA4;
        --color-dark-blue: #155A9C;
        --color-darker-blue: #0D4276;
        --color-lighter-green: #84d063;
        --color-light-green: #5AAE3F;
        --color-green: #3E9523;
        --color-dark-green: #26780C;
        --color-darker-green: #145400;
        --color-lighter-pink: #E797B2;
        --color-light-pink:#CD6387;
        --color-pink: #AC3B61;
        --color-dark-pink: #912046;
        --color-darker-pink: #6C0729;
        --color-light-ruby: #C6455C;
        --color-lighter-ruby: #AA233B;
        --color-ruby: #8C0C23;
        --color-dark-ruby: #690013;
        --color-darker-ruby: #42000C;
        --color-lighter-orange: #FF8A62;
        --color-light-orange: #FF6A37;
        --color-orange: #F54002;
        --color-dark-orange: #C13100;
        --color-darker-orange: #972700;
        --color-powder: #FEFCFB;
        --color-lighter-grey: #F6F6F6;  
        --color-light-grey: #F2F1F1;  
        --color-grey1: #D9D5D6;  
        --color-grey2: #BAB2B5;  
        --color-dark-grey: #998C91;  
        --color-darker-grey: #7B686F;  
        --color-lighter-font: #AAA39D;  
        --color-light-font: #78726F;  
        --color-font: #413E3C;  
        --color-dark-font: #171412;  
        --color-darker-font: #1D150F;  
        }
        </code></pre>
      </div>
      <div class="column auto"/>
    </div>
    <div class="columns is-mobile">
      <div class="column auto"/>
      <div 
        class="column is-four-fifths-mobile is-three-fifths-tablet just-comments" 
        data-allowguests="true" 
        data-recaptcha="true" 
        data-apikey="My-Secret-API"/>
      <script 
        async 
        src="https://just-comments.com/w.js"/>
      <script 
        src="https://www.google.com/recaptcha/api.js?onload=jcOnRecaptchaLoad&render=explicit" 
        async 
        defer/>
      <div class="column auto"/>
    </div>
  </one-article>
</template>

<script>
import oneArticle from '~/components/blog/oneArticle.vue'

export default {
    components: {
    oneArticle,
    },
    head () {
    return {
      title: `A.S.K.c - How I chose my color scheme.`,
      meta: [
        { hid: 'description', name: 'description', content: `Searching, mixing, matching and all the pain to discover the askcreative color palette.` }
      ]
    }
  }
}
</script>
<style>
.content {
  font-size: 1.25rem;
  line-height: 2rem;
}
.content a {
  color: #ac3b61;
  text-decoration: underline;
}
.just-comments {
  margin-top: 5vh;
}
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
</style>
