<template>
  <one-article>
    <section class="hero is-bold is-medium">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            Eurovision 2018
          </h1>
        </div>
      </div>
    </section>
    <div class="columns is-mobile">
      <div class="column auto"/>
      <div class="column is-four-fifths-mobile is-three-fifths-tablet content">

        <p><img 
          src="https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_auto/v1524386303/Optimized-eurovision2018_fghtww.jpg" 
          alt="Eurovision 2018" ></p>

        <h1 id="eurovision2018">Eurovision 2018</h1>

        <h2 id="tuneinliveat2100ceston81012may2018">Tune in live at 21:00 CEST on 8, 10 &amp; 12 May 2018</h2>

        <h3 id="eurovisiontvhttpseurovisiontv"><a href="https://eurovision.tv/">eurovision.tv</a></h3>

        <h1 id="mypickforthisyearswinner">My pick for this year's winner...</h1>

        <p>Denmark's Rasmussen "Higher Ground". The "viking entry" as coined by Eurofans. <br >
          Watch him live May 10th during the Second Semi-Final. <br >
          <a 
            href="http://www.youtube.com/watch?v=XmboaW4N56A" 
            title="Denmark"><img 
              src="http://img.youtube.com/vi/XmboaW4N56A/0.jpg" 
              alt="Denmark eurovision video" ></a>  </p>

        <h2 id="mypickfor2ndplace">My pick for 2nd place...</h2>

        <p>Estonia's Elina Nechayeva "La Forza". <br >
          Watch her live May 8th during the First Semi-Final. <br >
          <a 
            href="http://www.youtube.com/watch?v=76KOUIfDry8" 
            title="Estonia"><img 
              src="http://img.youtube.com/vi/76KOUIfDry8/0.jpg" 
              alt="Estonia eurovision video" ></a>  </p>

        <h2 id="mytiedfavoritesfor3rdplace">My tied favorites for 3rd place...</h2>

        <p>Germany's Michael Schulte “You Let Me Walk Alone”. <br >
          Watch him live May 12th during the Grand-Final. <br >
          <a 
            href="http://www.youtube.com/watch?v=GxP3WlahA_g" 
            title="Germany"><img 
              src="http://img.youtube.com/vi/GxP3WlahA_g/0.jpg" 
              alt="Germany eurovision video" ></a>  </p>

        <p>Ireland's Ryan O’Shaughnessy "Together". <br >
          Watch him live May 8th during the First Semi-Final. <br >
          <a 
            href="http://www.youtube.com/watch?v=lod7tMM-LCM" 
            title="Ireland"><img 
              src="http://img.youtube.com/vi/lod7tMM-LCM/0.jpg" 
              alt="Ireland eurovision video" ></a></p>
      </div>
      <div class="column auto"/>
    </div>
    <div class="columns is-mobile">
      <div class="column auto"/>
      <div 
        class="column is-four-fifths-mobile is-three-fifths-tablet just-comments" 
        data-allowguests="true" 
        data-recaptcha="true" 
        data-apikey="My-Secret-API"/>
      <script 
        async 
        src="https://just-comments.com/w.js"/>
      <script 
        src="https://www.google.com/recaptcha/api.js?onload=jcOnRecaptchaLoad&render=explicit" 
        async 
        defer/>
      <div class="column auto"/>
    </div>
  </one-article>
</template>

<script>
import oneArticle from '~/components/blog/oneArticle.vue'

export default {
    components: {
    oneArticle,
    },
    head () {
    return {
      title: `A.S.K.c - Eurovision 2018`,
      meta: [
        { hid: 'description', name: 'description', content: `My favorites for Eurovision 2018.` }
      ]
    }
  }
}
</script>
<style>
.content {
  font-size: 1.25rem;
  line-height: 2rem;
}
.content a {
  color: #ac3b61;
  text-decoration: underline;
}
.just-comments {
  margin-top: 5vh;
}
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
</style>
