<template>
  <section class="section page">
    <blog-hero/>
    <div class="columns is-centered is-multiline bloglist">
      <div class="column is-half-tablet is-one-quarter-widescreen">
        <nuxt-link to="/blog/eurovision">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,q_auto/v1525380912/Optimized-eurovis2018_kve2z8.jpg" >
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <p> My favorites for Eurovision 2018. </p>
              </div>
              <div class="content">
                <h2 class="title">Eurovision 2018</h2>
                <time datetime="2016-1-1">2018-04-22</time>
              </div>
            </div>
          </div>
        </nuxt-link>
        <nuxt-link to="/blog/brazilianCarrot">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,q_auto/v1525380885/Optimized-brazcake_cgrxrp.jpg" >
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <p>An easy delicious carrot cake with chocolate frosting.</p>
              </div>
              <div class="content">
                <h2 class="title">Bolo de Cenoura Brazilian Carrot Cake</h2>
                <time datetime="2016-1-1">2018-04-15</time>
              </div>
            </div>
          </div>
        </nuxt-link>
        <nuxt-link to="/blog/colorScheme">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="https://res.cloudinary.com/askcreative-space/image/upload/c_scale,f_auto,q_auto/v1525380894/Optimized-colorpalette_hjr9a5.jpg" >
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <p>Searching, mixing, matching and all the pain to discover the askcreative color palette.</p>
              </div>
              <div class="content">
                <h2 class="title">How I chose my color scheme.</h2>
                <time datetime="2016-1-1">2018-03-10</time>
              </div>
            </div>
          </div>
        </nuxt-link>
      </div>
  </div></section>
</template>
  
<script>

import blogHero from '~/components/blog/blogHero.vue'

export default {
  layout: 'defaultLayout',
  components: {
    blogHero
  },
  head () {
    return {
      title: 'A.S.K.c Blog',
      meta: [
        { hid: 'description', name: 'description', content: 'The official Amy Storm Kosman creative blog. Filled with all my boring lifestyle, food, music, recycle, reuse, repurpose, mottainai, upcycled slow fashion, handmade, bespoke, hair accessories, jewelry, scarfs, handbags, and home decor stories. Some interesting things as well. ' }
      ]
    }
  }
}
</script>
<style>
.bloglist {
  padding: 5vh;
}
</style>
