<template>
  <div class="columns is-mobile">
    <div class="column is-narrow-mobile"/>
    <div class="column is-four-fifths-mobile is-three-fifths-tablet">
      <h2 class="is-size-1">
        Amy Storm Kosman creative
      </h2>
      <p>
        In 2016 I began to think I was ready to start a small business again. I thought of my passions and began to explore fashion
        accessories. I experimented with many DIY tutorials and books. I also read up on the environmental impact of the
        fashion industry. Environmental issues have always been an interest of mine. It seems to me that the huge mess we
        make on this Earth will have to be cleaned up eventually by someone. I try not to add to that eventual burden. I
        also think there are many gorgeous vintage fabrics out there.
      </p>
      <br>
      <p>
        I decided my business would strive to diminish the amount of wasted fabric by using the environmental 3 R's: reduce, reuse,
        and renew, as well as embracing the Japanese culture of mottainai. By artfully restoring the beauty of vintage fabrics,
        and discarded textiles into fashionable accessories I can inspire a wardrobe with creativity and personality. Creating
        handmade accessories is a practical application of the sustainable fashion movement. It's also fun to make (and shop
        for).
      </p>
    </div>
    <div class="column is-narrow-mobile"/>
  </div>
</template>

<script>
  export default {
    name: 'CompanyStory'
  }

</script>

<style scoped>
  .columns.is-mobile {
    margin-bottom: 6vh;
  }
</style>
