<template>
  <section class="timey">
    <div class="container">
      <h5 class="title is-size-2">
        Timeline
        <hr>
      </h5>
    </div>
    <div class="timeline is-centered">
      <header class="timeline-header">
        <span class="tag is-medium is-pink">2018</span>
      </header>
      <div class="timeline-item">
        <div class="timeline-content">
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/amyeyelondon_tf4rnv.jpg">
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>    
        <div class="timeline-content">
          <p class="heading">January 2018</p>
          <p>askcreative.space goes live!</p>    
        </div>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M16.218 3.782c-1.794-1.794-4.18-2.782-6.718-2.782s-4.923 0.988-6.717 2.782-2.782 4.18-2.782 6.717c0 2.538 0.988 4.923 2.782 6.717s4.18 2.782 6.717 2.782 4.923-0.988 6.718-2.782c1.794-1.794 2.782-4.18 2.782-6.717s-0.988-4.923-2.782-6.717zM14.992 10c-0.032-1.072-0.164-2.111-0.39-3.083 0.358 0.145 0.699 0.307 1.018 0.484 1.309 0.727 2.116 1.636 2.324 2.598h-2.953zM13.992 10h-3.992v-3.992c1.227 0.038 2.405 0.217 3.471 0.521 0.305 1.066 0.483 2.243 0.521 3.471zM10 5.008v-2.953c0.963 0.208 1.871 1.015 2.598 2.324 0.177 0.319 0.339 0.66 0.484 1.018-0.972-0.226-2.011-0.358-3.083-0.389zM9 2.054v2.953c-1.072 0.032-2.111 0.164-3.083 0.389 0.145-0.358 0.307-0.699 0.484-1.018 0.727-1.309 1.636-2.116 2.598-2.324zM9 6.008v3.992h-3.992c0.038-1.227 0.217-2.405 0.521-3.471 1.066-0.305 2.243-0.483 3.471-0.521zM4.008 10h-2.953c0.208-0.963 1.015-1.871 2.324-2.598 0.319-0.177 0.66-0.339 1.018-0.484-0.226 0.972-0.358 2.011-0.389 3.083zM4.008 11c0.032 1.072 0.164 2.111 0.389 3.083-0.358-0.145-0.699-0.307-1.018-0.484-1.309-0.727-2.116-1.636-2.324-2.598h2.953zM5.008 11h3.992v3.992c-1.227-0.038-2.405-0.217-3.471-0.521-0.305-1.066-0.483-2.243-0.521-3.471zM9 15.992v2.953c-0.963-0.208-1.871-1.015-2.598-2.324-0.177-0.319-0.339-0.66-0.484-1.018 0.972 0.226 2.011 0.358 3.083 0.39zM10 18.946v-2.953c1.072-0.032 2.111-0.164 3.083-0.39-0.145 0.358-0.307 0.699-0.484 1.018-0.727 1.309-1.636 2.116-2.598 2.324zM10 14.992v-3.992h3.992c-0.038 1.227-0.217 2.405-0.521 3.471-1.066 0.305-2.243 0.483-3.471 0.521zM14.992 11h2.953c-0.208 0.963-1.015 1.871-2.324 2.598-0.319 0.177-0.66 0.339-1.018 0.484 0.226-0.972 0.358-2.011 0.389-3.083zM17.432 7.445c-0.378-0.33-0.821-0.638-1.325-0.918-0.56-0.311-1.177-0.578-1.837-0.797-0.22-0.66-0.486-1.277-0.797-1.837-0.28-0.504-0.588-0.947-0.918-1.325 2.234 0.863 4.014 2.644 4.877 4.877zM6.445 2.568c-0.33 0.378-0.638 0.821-0.918 1.325-0.311 0.56-0.578 1.177-0.797 1.837-0.66 0.22-1.277 0.486-1.837 0.797-0.504 0.28-0.947 0.588-1.325 0.918 0.863-2.234 2.644-4.014 4.877-4.877zM1.568 13.555c0.378 0.33 0.821 0.638 1.325 0.918 0.56 0.311 1.177 0.578 1.837 0.797 0.22 0.66 0.486 1.277 0.797 1.837 0.28 0.504 0.588 0.947 0.918 1.325-2.234-0.863-4.014-2.644-4.877-4.877zM12.555 18.432c0.33-0.378 0.638-0.821 0.918-1.325 0.311-0.56 0.578-1.177 0.797-1.837 0.66-0.22 1.277-0.486 1.837-0.797 0.504-0.28 0.947-0.588 1.325-0.918-0.863 2.234-2.644 4.014-4.877 4.877z" 
              fill="#fefcfb"/>
          </svg>
        </span> 
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M9.5 20c-2.538 0-4.923-0.988-6.718-2.782s-2.782-4.18-2.782-6.717c0-2.538 0.988-4.923 2.782-6.718s4.18-2.783 6.718-2.783c2.538 0 4.923 0.988 6.718 2.783s2.782 4.18 2.782 6.718-0.988 4.923-2.782 6.717c-1.794 1.794-4.18 2.782-6.718 2.782zM9.5 2c-4.687 0-8.5 3.813-8.5 8.5s3.813 8.5 8.5 8.5 8.5-3.813 8.5-8.5-3.813-8.5-8.5-8.5z" 
              fill="#fefcfb"/>
            <path 
              d="M6.5 8c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM6.5 6c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M12.5 8c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM12.5 6c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M12.5 15c-0.045 0-0.092-0.006-0.138-0.019l-7-2c-0.266-0.076-0.419-0.353-0.343-0.618s0.353-0.419 0.618-0.343l7 2c0.266 0.076 0.419 0.353 0.343 0.618-0.063 0.22-0.263 0.363-0.481 0.363z" 
              fill="#fefcfb"/>
          </svg>
        </span>
        <div class="timeline-content">
          <p class="heading">August 2017</p>
          <p>My contract at IST was not renewed.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <div class="timeline-content">
          <p class="heading">16 June 2017</p>
          <p>The start of Amy Storm Kosman creative.</p>
        </div>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M13.5 9c-1.378 0-2.5-1.122-2.5-2.5s1.122-2.5 2.5-2.5 2.5 1.122 2.5 2.5-1.122 2.5-2.5 2.5zM13.5 5c-0.827 0-1.5 0.673-1.5 1.5s0.673 1.5 1.5 1.5 1.5-0.673 1.5-1.5-0.673-1.5-1.5-1.5z" 
              fill="#fefcfb"/>
            <path 
              d="M0.5 20c-0.13 0-0.258-0.051-0.354-0.146-0.137-0.137-0.183-0.342-0.116-0.524 1.539-4.231 3.157-6.377 4.808-6.377 0.545 0 1.054 0.234 1.515 0.694 0.728 0.728 0.754 1.453 0.648 1.933-0.334 1.508-2.464 2.985-6.33 4.391-0.056 0.020-0.114 0.030-0.171 0.030zM4.839 13.952c-0.495 0-1.078 0.434-1.685 1.255-0.597 0.807-1.197 1.957-1.788 3.427 1.335-0.537 2.408-1.082 3.199-1.625 1.067-0.733 1.383-1.3 1.46-1.646s-0.047-0.677-0.379-1.009c-0.27-0.27-0.534-0.401-0.808-0.401z" 
              fill="#fefcfb"/>
            <path 
              d="M19.5 0c-2.595 0-4.907 0.44-6.874 1.308-1.621 0.716-3.009 1.72-4.126 2.986-0.208 0.236-0.401 0.475-0.58 0.715-0.862 0.057-1.744 0.4-2.624 1.020-0.745 0.524-1.493 1.25-2.225 2.157-1.23 1.524-1.986 3.027-2.018 3.090-0.109 0.219-0.044 0.485 0.154 0.628 0.088 0.064 0.191 0.095 0.293 0.095 0.128 0 0.256-0.049 0.353-0.145 0.005-0.005 0.483-0.475 1.298-0.936 0.672-0.38 1.708-0.827 2.961-0.906 0.317 0.811 1.224 1.781 1.659 2.216s1.405 1.342 2.216 1.659c-0.079 1.253-0.526 2.289-0.906 2.961-0.462 0.816-0.931 1.293-0.935 1.297-0.173 0.173-0.195 0.447-0.052 0.646 0.097 0.134 0.249 0.208 0.406 0.208 0.076 0 0.152-0.017 0.223-0.053 0.063-0.032 1.566-0.788 3.090-2.018 0.907-0.732 1.633-1.48 2.157-2.225 0.62-0.881 0.962-1.762 1.020-2.624 0.239-0.178 0.478-0.371 0.715-0.58 1.266-1.117 2.27-2.505 2.986-4.126 0.868-1.966 1.308-4.279 1.308-6.874v-0.5h-0.5zM3.107 9.808c0.953-1.383 2.41-3.098 4.052-3.637-0.649 1.137-0.985 2.181-1.106 2.843-1.159 0.071-2.158 0.408-2.946 0.794zM10.193 16.89c0.386-0.788 0.723-1.786 0.793-2.944 0.661-0.121 1.706-0.457 2.842-1.105-0.54 1.639-2.254 3.096-3.636 4.049zM15.044 10.75c-2.080 1.835-4.234 2.25-4.544 2.25-0.002 0-0.207-0.004-0.759-0.393-0.385-0.271-0.834-0.657-1.262-1.085s-0.814-0.877-1.085-1.262c-0.389-0.552-0.393-0.757-0.393-0.759 0-0.31 0.415-2.464 2.25-4.544 2.196-2.488 5.557-3.849 9.744-3.95-0.101 4.187-1.461 7.548-3.95 9.744z" 
              fill="#fefcfb"/>
          </svg>
        </span>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M3 12c-1.122 0-2-1.322-2-3.011s0.878-3.011 2-3.011 2 1.322 2 3.011-0.878 3.011-2 3.011zM3 6.978c-0.472 0-1 0.86-1 2.011s0.528 2.011 1 2.011 1-0.86 1-2.011-0.528-2.011-1-2.011z" 
              fill="#fefcfb"/>
            <path 
              d="M6.998 8c-1.12 0-1.998-1.318-1.998-3s0.878-3 1.998-3 1.998 1.318 1.998 3-0.878 3-1.998 3zM6.998 3c-0.471 0-0.998 0.855-0.998 2s0.527 2 0.998 2 0.998-0.855 0.998-2-0.527-2-0.998-2z" 
              fill="#fefcfb"/>
            <path 
              d="M12 8c-1.122 0-2-1.318-2-3s0.878-3 2-3 2 1.318 2 3-0.878 3-2 3zM12 3c-0.472 0-1 0.855-1 2s0.528 2 1 2 1-0.855 1-2-0.528-2-1-2z" 
              fill="#fefcfb"/>
            <path 
              d="M16 12c-1.122 0-2-1.322-2-3.011s0.878-3.011 2-3.011 2 1.322 2 3.011-0.878 3.011-2 3.011zM16 6.978c-0.472 0-1 0.86-1 2.011s0.528 2.011 1 2.011 1-0.86 1-2.011-0.528-2.011-1-2.011z" 
              fill="#fefcfb"/>
            <path 
              d="M13 18c-0.868 0-1.455-0.294-1.972-0.553-0.48-0.24-0.894-0.447-1.528-0.447-0.631 0-1.045 0.207-1.525 0.447-0.519 0.259-1.107 0.553-1.975 0.553-0.556 0-1.079-0.303-1.437-0.831-0.627-0.926-0.637-2.331-0.028-3.855 1.097-2.742 2.906-4.314 4.964-4.314s3.868 1.572 4.964 4.314c0.609 1.524 0.599 2.929-0.028 3.855-0.357 0.528-0.881 0.831-1.437 0.831zM9.5 16c0.869 0 1.457 0.294 1.975 0.553 0.479 0.24 0.893 0.447 1.525 0.447 0.218 0 0.44-0.143 0.609-0.391 0.432-0.637 0.404-1.73-0.073-2.923-0.937-2.342-2.408-3.686-4.036-3.686s-3.099 1.343-4.036 3.686c-0.477 1.193-0.504 2.286-0.073 2.923 0.168 0.249 0.39 0.391 0.609 0.391 0.632 0 1.047-0.207 1.528-0.448 0.518-0.259 1.106-0.553 1.972-0.553z" 
              fill="#fefcfb"/>
          </svg>
        </span>
        <div class="timeline-content">
          <p class="heading">2016</p>
          <p>Snow</p>
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/snow_nlbsdd.jpg">
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <div class="timeline-content">
          <p class="heading">2015</p>
          <p>International School Twente teaching the kids about webdesign, and ICT, and as the Exams Officier.</p>
        </div>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M11.5 14h-8c-0.827 0-1.5-0.673-1.5-1.5v-8c0-0.827 0.673-1.5 1.5-1.5h13c0.827 0 1.5 0.673 1.5 1.5v1c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5v-1c0-0.276-0.224-0.5-0.5-0.5h-13c-0.276 0-0.5 0.224-0.5 0.5v8c0 0.276 0.224 0.5 0.5 0.5h8c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M11.5 18h-10c-0.827 0-1.5-0.673-1.5-1.5v-1c0-0.276 0.224-0.5 0.5-0.5h11c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5h-10.5v0.5c0 0.276 0.224 0.5 0.5 0.5h10c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M18.5 18h-4c-0.827 0-1.5-0.673-1.5-1.5v-8c0-0.827 0.673-1.5 1.5-1.5h4c0.827 0 1.5 0.673 1.5 1.5v8c0 0.827-0.673 1.5-1.5 1.5zM14.5 8c-0.276 0-0.5 0.224-0.5 0.5v8c0 0.276 0.224 0.5 0.5 0.5h4c0.276 0 0.5-0.224 0.5-0.5v-8c0-0.276-0.224-0.5-0.5-0.5h-4z" 
              fill="#fefcfb"/>
            <path 
              d="M16.5 16c-0.132 0-0.26-0.053-0.353-0.147s-0.147-0.222-0.147-0.353 0.053-0.261 0.147-0.353c0.093-0.093 0.222-0.147 0.353-0.147s0.261 0.053 0.353 0.147c0.093 0.093 0.147 0.222 0.147 0.353s-0.053 0.261-0.147 0.353c-0.093 0.093-0.222 0.147-0.353 0.147z" 
              fill="#fefcfb"/>
          </svg>
        </span>
      </div>
      <div class="timeline-item"/>
      <header class="timeline-header">
        <span class="tag is-medium is-pink">Married 2 August 2014</span>
      </header>
      <div class="timeline-item"/>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M9.5 20c-2.538 0-4.923-0.988-6.718-2.782s-2.782-4.18-2.782-6.717c0-2.538 0.988-4.923 2.782-6.718s4.18-2.783 6.718-2.783c2.538 0 4.923 0.988 6.718 2.783s2.782 4.18 2.782 6.718-0.988 4.923-2.782 6.717c-1.794 1.794-4.18 2.782-6.718 2.782zM9.5 2c-4.687 0-8.5 3.813-8.5 8.5s3.813 8.5 8.5 8.5c4.687 0 8.5-3.813 8.5-8.5s-3.813-8.5-8.5-8.5z" 
              fill="#fefcfb"/>
            <path 
              d="M9.5 17c-3.584 0-6.5-2.916-6.5-6.5 0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5c0 3.033 2.467 5.5 5.5 5.5s5.5-2.467 5.5-5.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5c0 3.584-2.916 6.5-6.5 6.5z" 
              fill="#fefcfb"/>
            <path 
              d="M7.724 6.053c-0.247-0.123-0.547-0.023-0.671 0.224-0.004 0.007-0.381 0.724-1.053 0.724-0.671 0-1.050-0.719-1.054-0.726l0.001 0.003-0 0c-0.082-0.164-0.251-0.277-0.447-0.277-0.276 0-0.5 0.224-0.5 0.5 0 0.080 0.019 0.156 0.053 0.223l-0 0c0.001 0.002 0.003 0.006 0.006 0.011 0.001 0.002 0.002 0.004 0.003 0.006 0.083 0.157 0.71 1.26 1.938 1.26 1.294 0 1.921-1.224 1.947-1.276 0.123-0.247 0.023-0.547-0.224-0.671z" 
              fill="#fefcfb"/>
            <path 
              d="M14.724 6.053c-0.247-0.123-0.547-0.023-0.671 0.224-0.004 0.007-0.381 0.724-1.053 0.724-0.671 0-1.050-0.719-1.054-0.726l0.001 0.003-0 0c-0.082-0.164-0.251-0.277-0.447-0.277-0.276 0-0.5 0.224-0.5 0.5 0 0.080 0.019 0.156 0.053 0.223l-0 0c0.001 0.002 0.003 0.006 0.006 0.011 0.001 0.002 0.002 0.004 0.003 0.006 0.083 0.157 0.71 1.26 1.938 1.26 1.294 0 1.921-1.224 1.947-1.276 0.124-0.247 0.023-0.547-0.224-0.671z" 
              fill="#fefcfb"/>
          </svg>
        </span>
        <div class="timeline-content">
          <p class="heading">2014</p>
          <p>The end of California
            <svg 
              version="1.1" 
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              width="20" 
              height="20" 
              viewBox="0 0 20 20">
              <path 
                d="M9.5 5c-0.276 0-0.5-0.224-0.5-0.5v-3c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v3c0 0.276-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M3.5 11h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M18.5 11h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M9.5 20c-0.276 0-0.5-0.224-0.5-0.5v-3c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v3c0 0.276-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M9.5 7.007c0.935 0 1.814 0.363 2.475 1.024s1.025 1.536 1.025 2.469-0.364 1.809-1.025 2.469c-0.661 0.66-1.54 1.024-2.475 1.024s-1.814-0.363-2.475-1.024c-0.661-0.66-1.025-1.536-1.025-2.469s0.364-1.809 1.025-2.469c0.661-0.66 1.54-1.024 2.475-1.024zM9.5 6.007c-2.485 0-4.5 2.011-4.5 4.493s2.015 4.493 4.5 4.493 4.5-2.011 4.5-4.493c0-2.481-2.015-4.493-4.5-4.493v0z" 
                fill="#413E3C"/>
              <path 
                d="M5.507 6.507c-0.128 0-0.256-0.049-0.354-0.146l-2.121-2.121c-0.195-0.195-0.195-0.512 0-0.707s0.512-0.195 0.707 0l2.121 2.121c0.195 0.195 0.195 0.512 0 0.707-0.098 0.098-0.226 0.146-0.354 0.146z" 
                fill="#413E3C"/>
              <path 
                d="M3.386 17.614c-0.128 0-0.256-0.049-0.354-0.146-0.195-0.195-0.195-0.512 0-0.707l2.121-2.121c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-2.121 2.121c-0.098 0.098-0.226 0.146-0.354 0.146z" 
                fill="#413E3C"/>
              <path 
                d="M13.493 6.507c-0.128 0-0.256-0.049-0.354-0.146-0.195-0.195-0.195-0.512 0-0.707l2.121-2.121c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-2.121 2.121c-0.098 0.098-0.226 0.146-0.354 0.146z" 
                fill="#413E3C"/>
              <path 
                d="M15.614 17.614c-0.128 0-0.256-0.049-0.354-0.146l-2.121-2.121c-0.195-0.195-0.195-0.512 0-0.707s0.512-0.195 0.707 0l2.121 2.121c0.195 0.195 0.195 0.512 0 0.707-0.098 0.098-0.226 0.146-0.354 0.146z" 
                fill="#413E3C"/>
            </svg>
            living and the beginning of being Dutch.
            <svg 
              version="1.1" 
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              width="20" 
              height="20" 
              viewBox="0 0 20 20">
              <path 
                d="M13.5 2c-0.072 0-0.144 0.016-0.21 0.046l-2.005 0.926c-0.201 0.093-0.317 0.309-0.285 0.528 0 0.017-0.054 0.132-0.309 0.26-0.305 0.153-0.739 0.24-1.191 0.24-0.090 0-0.181-0.003-0.269-0.010-0.085-0.007-0.171 0.009-0.248 0.045l-8.692 4.012c-0.171 0.079-0.291 0.252-0.291 0.454v3c0 0.276 0.224 0.5 0.5 0.5 0.827 0 1.5 0.673 1.5 1.5 0 0.401-0.156 0.777-0.439 1.061s-0.66 0.439-1.061 0.439c0 0 0 0 0 0-0.133 0-0.26 0.053-0.354 0.146s-0.146 0.221-0.146 0.354v2c0 0.276 0.224 0.5 0.5 0.5h19c0.276 0 0.5-0.224 0.5-0.5v-9c0-3.584-2.916-6.5-6.5-6.5zM9.287 4.995c0.071 0.003 0.142 0.005 0.213 0.005 0.61 0 1.192-0.123 1.638-0.346 0.451-0.225 0.737-0.538 0.83-0.896l1.64-0.757c2.816 0.054 5.119 2.235 5.369 4.999h-4.045c-0.14-0.51-0.495-0.971-1.034-1.33-0.648-0.432-1.5-0.67-2.399-0.67s-1.751 0.238-2.399 0.67c-0.539 0.359-0.894 0.82-1.034 1.33h-5.291l6.511-3.005zM14 8.5c0 1.378-1.122 2.5-2.5 2.5s-2.5-1.122-2.5-2.5c0-0.813 1.145-1.5 2.5-1.5s2.5 0.687 2.5 1.5zM19 17h-18v-1.050c0.477-0.096 0.916-0.33 1.268-0.683 0.472-0.472 0.732-1.1 0.732-1.768 0-1.207-0.86-2.217-2-2.45v-2.050h7.036c0.243 1.694 1.704 3 3.464 3s3.221-1.306 3.464-3h4.036v8z" 
                fill="#413E3C"/>
              <path 
                d="M15.5 15c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM15.5 13c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" 
                fill="#413E3C"/>
              <path 
                d="M7 16c-1.103 0-2-0.897-2-2s0.897-2 2-2 2 0.897 2 2-0.897 2-2 2zM7 13c-0.551 0-1 0.449-1 1s0.449 1 1 1 1-0.449 1-1-0.449-1-1-1z" 
                fill="#413E3C"/>
            </svg>
          </p>
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/wedding_qx5z0d.jpg">
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <div class="timeline-content">
          <p class="heading">2007</p>
          <p>Certified Pharmacy Technician at Oroville Hospital, Longs/CVS Drugs, and lastly at Frank R. Howard Memorial Hospital.</p>
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/Amyshort_ndmf5q.jpg">
        </div>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M18.293 11.95c-1.021-0.613-2.368-0.95-3.793-0.95s-2.772 0.337-3.793 0.95c-1.101 0.661-1.707 1.566-1.707 2.55v2c0 0.984 0.606 1.89 1.707 2.55 1.021 0.613 2.368 0.95 3.793 0.95s2.772-0.337 3.793-0.95c1.101-0.661 1.707-1.566 1.707-2.55v-2c0-0.984-0.606-1.89-1.707-2.55zM14.5 12c2.439 0 4.5 1.145 4.5 2.5s-2.061 2.5-4.5 2.5-4.5-1.145-4.5-2.5 2.061-2.5 4.5-2.5zM14.5 19c-2.419 0-4.466-1.126-4.499-2.467 0.206 0.185 0.442 0.358 0.706 0.517 1.021 0.613 2.368 0.95 3.793 0.95s2.772-0.337 3.793-0.95c0.265-0.159 0.5-0.332 0.706-0.517-0.033 1.341-2.080 2.467-4.499 2.467z" 
              fill="#fefcfb"/>
            <path 
              d="M13.5 16c-0.128 0-0.256-0.049-0.354-0.146-0.195-0.195-0.195-0.512 0-0.707l2-2c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-2 2c-0.098 0.098-0.226 0.146-0.354 0.146z" 
              fill="#fefcfb"/>
            <path 
              d="M12.975 1.025c-0.661-0.661-1.54-1.025-2.475-1.025s-1.814 0.364-2.475 1.025l-7 7c-0.661 0.661-1.025 1.54-1.025 2.475s0.364 1.814 1.025 2.475c0.661 0.661 1.54 1.025 2.475 1.025s1.814-0.364 2.475-1.025l7-7c1.365-1.365 1.365-3.585 0-4.95zM5.268 12.268c-0.472 0.472-1.1 0.732-1.768 0.732s-1.296-0.26-1.768-0.732c-0.472-0.472-0.732-1.1-0.732-1.768s0.26-1.296 0.732-1.768l3.646-3.646c1.775 0.352 3.183 1.76 3.536 3.536l-3.646 3.646zM12.268 5.268l-2.534 2.534c-0.265-0.821-0.721-1.567-1.345-2.191s-1.37-1.080-2.191-1.344l2.534-2.534c0.472-0.472 1.1-0.732 1.768-0.732s1.296 0.26 1.768 0.732c0.975 0.975 0.975 2.561 0 3.536z" 
              fill="#fefcfb"/>
          </svg>
        </span>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M7 8v-1c0-0.551-0.449-1-1-1h-1c-0.551 0-1 0.449-1 1v3.5c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5v-1.5h0.191l0.862 1.724c0.088 0.175 0.264 0.277 0.448 0.277 0.075 0 0.151-0.017 0.223-0.053 0.247-0.123 0.347-0.424 0.224-0.671l-0.659-1.319c0.412-0.124 0.712-0.506 0.712-0.958zM5 7h1v1h-1v-1z" 
              fill="#fefcfb"/>
            <path 
              d="M8.5 11c-0.276 0-0.5-0.224-0.5-0.5v-4c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v4c0 0.276-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M10.5 11c-0.276 0-0.5-0.224-0.5-0.5v-3.5c0-0.551 0.449-1 1-1h1c0.551 0 1 0.449 1 1v1c0 0.551-0.449 1-1 1h-1v1.5c0 0.276-0.224 0.5-0.5 0.5zM11 8h1v-1h-1v1z" 
              fill="#fefcfb"/>
            <path 
              d="M17.51 2.49c-1.605-1.605-3.74-2.49-6.010-2.49h-3c-2.27 0-4.405 0.884-6.010 2.49s-2.49 3.74-2.49 6.010v10c0 0.827 0.673 1.5 1.5 1.5h17c0.827 0 1.5-0.673 1.5-1.5v-10c0-2.27-0.884-4.405-2.49-6.010zM1 18.5v-10c0-4.136 3.364-7.5 7.5-7.5s7.5 3.364 7.5 7.5v10c0 0.276-0.224 0.5-0.5 0.5h-14c-0.276 0-0.5-0.224-0.5-0.5zM19 18.5c0 0.276-0.224 0.5-0.5 0.5h-1.586c0.056-0.157 0.086-0.325 0.086-0.5v-10c0-2.27-0.884-4.405-2.49-6.010-0.554-0.554-1.171-1.022-1.834-1.397 3.579 0.566 6.324 3.672 6.324 7.407v10z" 
              fill="#fefcfb"/>
          </svg>
        </span>
        <div class="timeline-content">
          <p class="heading">2006</p>
          <p>The end of Amy Lynn Soap Company</p>
          <p>I will miss you.</p>
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <div class="timeline-content">
          <p class="heading">2003</p>
          <p>Ash</p>
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/ash_wz0jxs.jpg">
        </div>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M3 12c-1.122 0-2-1.322-2-3.011s0.878-3.011 2-3.011 2 1.322 2 3.011-0.878 3.011-2 3.011zM3 6.978c-0.472 0-1 0.86-1 2.011s0.528 2.011 1 2.011 1-0.86 1-2.011-0.528-2.011-1-2.011z" 
              fill="#fefcfb"/>
            <path 
              d="M6.998 8c-1.12 0-1.998-1.318-1.998-3s0.878-3 1.998-3 1.998 1.318 1.998 3-0.878 3-1.998 3zM6.998 3c-0.471 0-0.998 0.855-0.998 2s0.527 2 0.998 2 0.998-0.855 0.998-2-0.527-2-0.998-2z" 
              fill="#fefcfb"/>
            <path 
              d="M12 8c-1.122 0-2-1.318-2-3s0.878-3 2-3 2 1.318 2 3-0.878 3-2 3zM12 3c-0.472 0-1 0.855-1 2s0.528 2 1 2 1-0.855 1-2-0.528-2-1-2z" 
              fill="#fefcfb"/>
            <path 
              d="M16 12c-1.122 0-2-1.322-2-3.011s0.878-3.011 2-3.011 2 1.322 2 3.011-0.878 3.011-2 3.011zM16 6.978c-0.472 0-1 0.86-1 2.011s0.528 2.011 1 2.011 1-0.86 1-2.011-0.528-2.011-1-2.011z" 
              fill="#fefcfb"/>
            <path 
              d="M13 18c-0.868 0-1.455-0.294-1.972-0.553-0.48-0.24-0.894-0.447-1.528-0.447-0.631 0-1.045 0.207-1.525 0.447-0.519 0.259-1.107 0.553-1.975 0.553-0.556 0-1.079-0.303-1.437-0.831-0.627-0.926-0.637-2.331-0.028-3.855 1.097-2.742 2.906-4.314 4.964-4.314s3.868 1.572 4.964 4.314c0.609 1.524 0.599 2.929-0.028 3.855-0.357 0.528-0.881 0.831-1.437 0.831zM9.5 16c0.869 0 1.457 0.294 1.975 0.553 0.479 0.24 0.893 0.447 1.525 0.447 0.218 0 0.44-0.143 0.609-0.391 0.432-0.637 0.404-1.73-0.073-2.923-0.937-2.342-2.408-3.686-4.036-3.686s-3.099 1.343-4.036 3.686c-0.477 1.193-0.504 2.286-0.073 2.923 0.168 0.249 0.39 0.391 0.609 0.391 0.632 0 1.047-0.207 1.528-0.448 0.518-0.259 1.106-0.553 1.972-0.553z" 
              fill="#fefcfb"/>
          </svg>
        </span>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M14.5 7c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5 1.5 0.673 1.5 1.5-0.673 1.5-1.5 1.5zM14.5 5c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5 0.5-0.224 0.5-0.5-0.224-0.5-0.5-0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M14.5 13c-0.146 0-0.285-0.064-0.38-0.175-0.032-0.037-0.79-0.926-1.554-2.265-1.039-1.818-1.566-3.521-1.566-5.061 0-1.93 1.57-3.5 3.5-3.5s3.5 1.57 3.5 3.5c0 1.54-0.527 3.242-1.566 5.061-0.765 1.338-1.523 2.228-1.554 2.265-0.095 0.111-0.234 0.175-0.38 0.175zM14.5 3c-1.378 0-2.5 1.122-2.5 2.5 0 2.543 1.717 5.139 2.5 6.19 0.782-1.052 2.5-3.651 2.5-6.19 0-1.378-1.122-2.5-2.5-2.5z" 
              fill="#fefcfb"/>
            <path 
              d="M18.5 0h-17c-0.827 0-1.5 0.673-1.5 1.5v17c0 0.827 0.673 1.5 1.5 1.5h17c0.827 0 1.5-0.673 1.5-1.5v-17c0-0.827-0.673-1.5-1.5-1.5zM6.5 18c-0.276 0-0.5 0.224-0.5 0.5v0.5h-2v-18h2v0.5c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5v-0.5h2v18h-2v-0.5c0-0.276-0.224-0.5-0.5-0.5zM3 16h-2v-1h2v1zM10 15h9v1h-9v-1zM19 1.5v12.5h-9v-13h8.5c0.276 0 0.5 0.224 0.5 0.5zM1.5 1h1.5v13h-2v-12.5c0-0.276 0.224-0.5 0.5-0.5zM1 18.5v-1.5h2v2h-1.5c-0.276 0-0.5-0.224-0.5-0.5zM18.5 19h-8.5v-2h9v1.5c0 0.276-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M6.5 5c0.276 0 0.5-0.224 0.5-0.5v-1c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v1c0 0.276 0.224 0.5 0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M6.5 8c0.276 0 0.5-0.224 0.5-0.5v-1c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v1c0 0.276 0.224 0.5 0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M6.5 11c0.276 0 0.5-0.224 0.5-0.5v-1c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v1c0 0.276 0.224 0.5 0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M6.5 14c0.276 0 0.5-0.224 0.5-0.5v-1c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v1c0 0.276 0.224 0.5 0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M7 15.5c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v1c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5v-1z" 
              fill="#fefcfb"/>
          </svg>
        </span>
        <div class="timeline-content">
          <p class="heading">2001</p>
          <p>Title Company</p>
          <p> I love maps.</p>
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/Amyred_zylutk.jpg">
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <div class="timeline-content">
          <p class="heading">1997</p>
          <p>Amy Lynn Soap Company</p>
          <p>"Amy Lynn Soaps are French-milled and hand crafted without the use of animal products*. All soaps are made from a base of Castile Soap (olive oil, lye, and water). Soaps containing fruits, and vegetables are made with California grown produce.  They also contain powdered benzoin (balsamic resin from certain Asian trees of the Styrax genus) as a preservative.
          Soaps contain no dyes. Any scent added is with essential oils.  Some soaps contain essential oils in the carrier oil jojoba. *except milk soaps"</p>
          I loved making soap and going to craft faires.
        </div>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M10 11.086v-1.586c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v1.586c-0.582 0.206-1 0.762-1 1.414 0 0.827 0.673 1.5 1.5 1.5s1.5-0.673 1.5-1.5c0-0.652-0.418-1.208-1-1.414zM9.5 13c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5 0.5 0.224 0.5 0.5-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M9.5 8c-2.481 0-4.5 2.019-4.5 4.5s2.019 4.5 4.5 4.5c2.481 0 4.5-2.019 4.5-4.5s-2.019-4.5-4.5-4.5zM10 15.964v-0.464c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v0.464c-1.531-0.22-2.744-1.434-2.964-2.964h0.464c0.276 0 0.5-0.224 0.5-0.5s-0.224-0.5-0.5-0.5h-0.464c0.243-1.694 1.704-3 3.464-3s3.221 1.306 3.464 3h-0.464c-0.276 0-0.5 0.224-0.5 0.5s0.224 0.5 0.5 0.5h0.464c-0.22 1.531-1.434 2.744-2.964 2.964z" 
              fill="#fefcfb"/>
            <path 
              d="M17.5 0h-16c-0.276 0-0.5 0.224-0.5 0.5v1c0 1.378 1.122 2.5 2.5 2.5h4.5v1.149c-1.431 0.289-2.747 0.991-3.803 2.047-1.417 1.417-2.197 3.3-2.197 5.303v6c0 0.827 0.673 1.5 1.5 1.5h12c0.827 0 1.5-0.673 1.5-1.5v-6c0-2.003-0.78-3.887-2.197-5.303-1.056-1.056-2.372-1.758-3.804-2.047l-0.001-1.149h4.501c1.378 0 2.5-1.122 2.5-2.5v-1c0-0.276-0.224-0.5-0.5-0.5zM16 12.5v6c0 0.276-0.224 0.5-0.5 0.5h-12c-0.276 0-0.5-0.224-0.5-0.5v-6c0-3.584 2.916-6.5 6.5-6.5s6.5 2.916 6.5 6.5zM10 5.017c-0.166-0.011-0.332-0.017-0.5-0.017s-0.334 0.006-0.5 0.017v-1.017h0.999l0.001 1.017zM17 1.5c0 0.827-0.673 1.5-1.5 1.5h-12c-0.827 0-1.5-0.673-1.5-1.5v-0.5h15v0.5z" 
              fill="#fefcfb"/>
          </svg>
        </span>
      </div>
      <header class="timeline-header blue">
        <span class="tag date">1995 - 2007</span>
      </header>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <div class="timeline-content">
          <p class="heading">Several miscellaneous jobs</p>
          <p>
            <svg 
              version="1.1" 
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              width="20" 
              height="20" 
              viewBox="0 0 20 20">
              <path 
                d="M8 0.5c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5c0 1.306 0.252 2.397 0.455 3.274 0.198 0.854 0.353 1.529 0.13 1.811-0.186 0.234-0.717 0.37-1.581 0.406-0.002-0.162-0.004-0.326-0.004-0.49v-4c0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5v4c0 0.165-0.001 0.328-0.004 0.49-0.861-0.037-1.391-0.174-1.577-0.408-0.225-0.283-0.069-0.959 0.128-1.814 0.202-0.875 0.453-1.965 0.453-3.267 0-0.276-0.224-0.5-0.5-0.5s-0.5 0.224-0.5 0.5c0 1.189-0.237 2.217-0.427 3.043-0.258 1.118-0.461 2.002 0.064 2.662 0.39 0.49 1.101 0.733 2.333 0.785-0.112 2.79-0.516 5.19-0.851 7.177-0.446 2.644-0.74 4.39 0.012 5.279 0.311 0.368 0.772 0.555 1.37 0.555s1.059-0.187 1.37-0.555c0.752-0.89 0.458-2.638 0.012-5.284-0.334-1.985-0.738-4.384-0.851-7.172 1.235-0.050 1.946-0.292 2.337-0.783 0.524-0.659 0.32-1.541 0.062-2.659-0.191-0.827-0.429-1.857-0.429-3.048zM6.106 18.799c-0.073 0.086-0.215 0.201-0.606 0.201s-0.533-0.114-0.606-0.2c-0.452-0.535-0.145-2.357 0.211-4.467 0.129-0.762 0.267-1.585 0.396-2.467 0.129 0.881 0.267 1.701 0.395 2.463 0.356 2.112 0.663 3.936 0.211 4.472z" 
                fill="#413E3C"/>
              <path 
                d="M15.882 14.162c-0.393-2.331-0.881-5.231-0.882-8.662v-5c0-0.227-0.153-0.425-0.372-0.483s-0.45 0.038-0.562 0.235c-2.019 3.534-3.016 8.931-3.058 9.159-0.027 0.146 0.013 0.296 0.108 0.41s0.236 0.18 0.384 0.18h2.235c-0.175 1.544-0.409 2.935-0.617 4.166-0.446 2.644-0.74 4.39 0.012 5.279 0.311 0.368 0.772 0.555 1.37 0.555s1.059-0.187 1.37-0.555c0.752-0.89 0.458-2.638 0.012-5.284zM12.111 9c0.248-1.171 0.882-3.887 1.889-6.317v2.817c0 1.236-0.063 2.403-0.163 3.5h-1.727zM15.106 18.799c-0.073 0.086-0.215 0.201-0.606 0.201s-0.533-0.114-0.606-0.2c-0.452-0.535-0.145-2.357 0.211-4.467 0.129-0.762 0.267-1.585 0.396-2.467 0.129 0.881 0.267 1.702 0.395 2.463 0.356 2.112 0.663 3.936 0.211 4.472z" 
                fill="#413E3C"/>
            </svg>
            Sandwich Shop, 
            <svg 
              version="1.1" 
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              width="20" 
              height="20" 
              viewBox="0 0 20 20">
              <path 
                d="M16 18h-13c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h13c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M18.012 14.725l-6.622-5.090c-0.387-0.297-0.868-0.495-1.39-0.574v-0.561c0-0.477 0.289-0.717 0.8-1.1 0.535-0.401 1.2-0.9 1.2-1.9 0-1.378-1.122-2.5-2.5-2.5s-2.5 1.122-2.5 2.5c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5c0-0.827 0.673-1.5 1.5-1.5s1.5 0.673 1.5 1.5c0 0.477-0.289 0.717-0.8 1.1-0.535 0.401-1.2 0.9-1.2 1.9v0.553c-0.525 0.071-1.012 0.26-1.404 0.551l-6.592 4.898c-0.573 0.426-1.004 1.284-1.004 1.998v1c0 0.174 0.090 0.335 0.238 0.426s0.332 0.099 0.487 0.021l7.214-3.632c0.401-0.202 0.97-0.318 1.562-0.318s1.161 0.116 1.562 0.318l7.214 3.632c0.071 0.036 0.148 0.053 0.225 0.053 0.091 0 0.182-0.025 0.262-0.074 0.148-0.091 0.238-0.252 0.238-0.426v-0.769c0-0.711-0.425-1.573-0.988-2.006zM11.511 13.422c-0.544-0.274-1.258-0.424-2.011-0.424s-1.468 0.151-2.011 0.424l-6.489 3.267v-0.188c0-0.392 0.286-0.961 0.601-1.195l6.592-4.898c0.335-0.249 0.788-0.386 1.277-0.386 0.497 0 0.975 0.148 1.311 0.407l6.622 5.090c0.301 0.232 0.577 0.777 0.596 1.17l-6.488-3.266z" 
                fill="#413E3C"/>
            </svg>
            Merchandising,
            Teaching Assitant,  
            Newspaper Sales
            <svg 
              version="1.1" 
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              width="20" 
              height="20" 
              viewBox="0 0 20 20">
              <path 
                d="M14.5 14h-6c-0.276 0-0.5-0.224-0.5-0.5v-4c0-0.276 0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5v4c0 0.276-0.224 0.5-0.5 0.5zM9 13h5v-3h-5v3z" 
                fill="#413E3C"/>
              <path 
                d="M6.5 10h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M6.5 12h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M6.5 14h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M19.5 6c-0.276 0-0.5 0.224-0.5 0.5v9c0 0.276-0.224 0.5-0.5 0.5h-17c-0.276 0-0.5-0.224-0.5-0.5v-10c0-0.276 0.224-0.5 0.5-0.5h15c0.276 0 0.5 0.224 0.5 0.5v9c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5v-9c0-0.827-0.673-1.5-1.5-1.5h-15c-0.827 0-1.5 0.673-1.5 1.5v10c0 0.827 0.673 1.5 1.5 1.5h17c0.827 0 1.5-0.673 1.5-1.5v-9c0-0.276-0.224-0.5-0.5-0.5z" 
                fill="#413E3C"/>
              <path 
                d="M14.5 8h-11c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h11c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
            </svg>,
            <svg 
              version="1.1" 
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              width="20" 
              height="20" 
              viewBox="0 0 20 20">
              <path 
                d="M17.5 4h-0.5v-0.5c0-0.827-0.673-1.5-1.5-1.5h-14c-0.827 0-1.5 0.673-1.5 1.5v2c0 0.827 0.673 1.5 1.5 1.5h14c0.827 0 1.5-0.673 1.5-1.5v-0.5h0.5c0.276 0 0.5 0.224 0.5 0.5v2c0 0.276-0.224 0.5-0.5 0.5h-8c-0.827 0-1.5 0.673-1.5 1.5v1.586c-0.582 0.206-1 0.762-1 1.414v5c0 0.827 0.673 1.5 1.5 1.5s1.5-0.673 1.5-1.5v-5c0-0.652-0.418-1.208-1-1.414v-1.586c0-0.276 0.224-0.5 0.5-0.5h8c0.827 0 1.5-0.673 1.5-1.5v-2c0-0.827-0.673-1.5-1.5-1.5zM16 5.5c0 0.276-0.224 0.5-0.5 0.5h-14c-0.276 0-0.5-0.224-0.5-0.5v-2c0-0.276 0.224-0.5 0.5-0.5h14c0.276 0 0.5 0.224 0.5 0.5v2zM9 17.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5v-5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v5z" 
                fill="#413E3C"/>
            </svg>,
            <svg 
              version="1.1" 
              xmlns="http://www.w3.org/2000/svg" 
              xmlns:xlink="http://www.w3.org/1999/xlink" 
              width="20" 
              height="20" 
              viewBox="0 0 20 20">
              <path 
                d="M5 11.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M7 11.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M9 11.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M11 11.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M13 11.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M15 11.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M10 17.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M4 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M6 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M8 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M10 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M12 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M14 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M16 13.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M14.5 8h-3c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h3c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M7.5 4h-1c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h1c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M7.5 6h-1c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h1c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
              <path 
                d="M18.658 14.393l-1.658-4.974v-2.919c0-0.827-0.673-1.5-1.5-1.5h-0.5v-1h2.5c0.276 0 0.5-0.224 0.5-0.5v-3c0-0.276-0.224-0.5-0.5-0.5h-6c-0.276 0-0.5 0.224-0.5 0.5v3c0 0.276 0.224 0.5 0.5 0.5h2.5v1h-4v-3.5c0-0.276-0.224-0.5-0.5-0.5h-5c-0.276 0-0.5 0.224-0.5 0.5v3.5h-0.5c-0.827 0-1.5 0.673-1.5 1.5v2.919l-1.658 4.974c-0.192 0.575-0.342 1.501-0.342 2.107v2c0 0.827 0.673 1.5 1.5 1.5h16c0.827 0 1.5-0.673 1.5-1.5v-2c0-0.606-0.15-1.532-0.342-2.107zM12 1h5v2h-5v-2zM5 2h4v5h-4v-5zM3.5 6h0.5v1.5c0 0.276 0.224 0.5 0.5 0.5h5c0.276 0 0.5-0.224 0.5-0.5v-1.5h5.5c0.276 0 0.5 0.224 0.5 0.5v2.5h-13v-2.5c0-0.276 0.224-0.5 0.5-0.5zM2.86 10h13.279l1.57 4.709c0.032 0.095 0.062 0.204 0.091 0.321-0.097-0.020-0.197-0.030-0.3-0.030h-16c-0.103 0-0.203 0.010-0.3 0.030 0.029-0.117 0.059-0.226 0.091-0.321l1.57-4.709zM17.5 19h-16c-0.276 0-0.5-0.224-0.5-0.5v-2c0-0.276 0.224-0.5 0.5-0.5h16c0.276 0 0.5 0.224 0.5 0.5v2c0 0.276-0.224 0.5-0.5 0.5z" 
                fill="#413E3C"/>
            </svg>,
            etc.
          </p>
        </div>
      </div>
      <div class="timeline-item"/>
      <header class="timeline-header">
        <span class="tag is-medium is-pink">Adultishhood</span>
        <div class="timeline-marker"/>
      </header>
      <div class="timeline-item"/>
      <header class="timeline-header">
        <span class="tag">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M9.5 20c-2.538 0-4.923-0.988-6.718-2.782s-2.782-4.18-2.782-6.717c0-2.538 0.988-4.923 2.782-6.718s4.18-2.783 6.718-2.783c2.538 0 4.923 0.988 6.718 2.783s2.782 4.18 2.782 6.718-0.988 4.923-2.782 6.717c-1.794 1.794-4.18 2.782-6.718 2.782zM9.5 2c-4.687 0-8.5 3.813-8.5 8.5s3.813 8.5 8.5 8.5c4.687 0 8.5-3.813 8.5-8.5s-3.813-8.5-8.5-8.5z" 
              fill="#413E3C"/>
            <path 
              d="M12.5 15h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
              fill="#413E3C"/>
            <path 
              d="M12.5 4c-1.272 0-2.387 0.682-3 1.699-0.613-1.017-1.728-1.699-3-1.699-1.93 0-3.5 1.57-3.5 3.5s1.57 3.5 3.5 3.5c1.272 0 2.387-0.682 3-1.699 0.613 1.017 1.728 1.699 3 1.699 1.93 0 3.5-1.57 3.5-3.5s-1.57-3.5-3.5-3.5zM6.5 10c-1.378 0-2.5-1.122-2.5-2.5s1.122-2.5 2.5-2.5 2.5 1.122 2.5 2.5-1.122 2.5-2.5 2.5zM12.5 10c-1.378 0-2.5-1.122-2.5-2.5s1.122-2.5 2.5-2.5 2.5 1.122 2.5 2.5-1.122 2.5-2.5 2.5z" 
              fill="#413E3C"/>
            <path 
              d="M6.5 8c-0.132 0-0.26-0.053-0.353-0.147s-0.147-0.222-0.147-0.353 0.053-0.261 0.147-0.353c0.093-0.093 0.222-0.147 0.353-0.147s0.26 0.053 0.353 0.147c0.093 0.093 0.147 0.222 0.147 0.353s-0.053 0.261-0.147 0.353c-0.093 0.093-0.222 0.147-0.353 0.147z" 
              fill="#413E3C"/>
            <path 
              d="M12.5 8c-0.132 0-0.261-0.053-0.353-0.147s-0.147-0.222-0.147-0.353 0.053-0.26 0.147-0.353c0.093-0.093 0.222-0.147 0.353-0.147s0.261 0.053 0.353 0.147c0.093 0.093 0.147 0.222 0.147 0.353s-0.053 0.261-0.147 0.353c-0.093 0.093-0.222 0.147-0.353 0.147z" 
              fill="#413E3C"/>
          </svg>
        </span>
      </header>
      <div class="timeline-item"/>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M18.658 7.026l-9-3c-0.103-0.034-0.214-0.034-0.316 0l-9 3c-0.204 0.068-0.342 0.259-0.342 0.474s0.138 0.406 0.342 0.474l2.658 0.886v2.64c0 0.133 0.053 0.26 0.146 0.354 0.088 0.088 2.194 2.146 6.354 2.146 1.513 0 2.924-0.272 4.195-0.809 0.254-0.107 0.373-0.401 0.266-0.655s-0.401-0.373-0.655-0.266c-1.147 0.485-2.427 0.73-3.805 0.73-1.945 0-3.376-0.504-4.234-0.926-0.635-0.313-1.060-0.629-1.266-0.799v-2.081l5.342 1.781c0.051 0.017 0.105 0.026 0.158 0.026s0.107-0.009 0.158-0.026l5.342-1.781v0.892c-0.582 0.206-1 0.762-1 1.414 0 0.611 0.367 1.137 0.892 1.371l-0.877 3.508c-0.037 0.149-0.004 0.308 0.091 0.429s0.24 0.192 0.394 0.192h2c0.154 0 0.299-0.071 0.394-0.192s0.128-0.28 0.091-0.429l-0.877-3.508c0.525-0.234 0.892-0.76 0.892-1.371 0-0.652-0.418-1.208-1-1.414v-1.226l2.658-0.886c0.204-0.068 0.342-0.259 0.342-0.474s-0.138-0.406-0.342-0.474zM15.5 11c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5-0.5-0.224-0.5-0.5 0.224-0.5 0.5-0.5zM15.14 16l0.36-1.438 0.36 1.438h-0.719zM15.46 7.986l-5.877-0.98c-0.273-0.045-0.53 0.139-0.575 0.411s0.139 0.53 0.411 0.575l4.014 0.669-3.932 1.311-7.419-2.473 7.419-2.473 7.419 2.473-1.459 0.486z" 
              fill="#fefcfb"/>
          </svg>
        </span>
        <div class="timeline-content">
          <p class="heading">1995</p>
          <p>High School graduation.</p> 
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/hsgrad_kys9qk.jpg">   
        </div>
      </div>
      <div class="timeline-item">
        <div class="timeline-marker blue"/>
      
        <div class="timeline-content">
          <p class="heading">1991</p>
          <p>8th grade graduation.</p>
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/esgrad_dfcl7t.jpg">
        </div>
        <span class="tag blue">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M18.5 18h-17c-0.827 0-1.5-0.673-1.5-1.5v-13c0-0.827 0.673-1.5 1.5-1.5h17c0.827 0 1.5 0.673 1.5 1.5v13c0 0.827-0.673 1.5-1.5 1.5zM1.5 3c-0.276 0-0.5 0.224-0.5 0.5v13c0 0.276 0.224 0.5 0.5 0.5h17c0.276 0 0.5-0.224 0.5-0.5v-13c0-0.276-0.224-0.5-0.5-0.5h-17z" 
              fill="#fefcfb"/>
            <path 
              d="M9.5 6h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M9.5 9h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M9.5 11h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M9.5 13h-6c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h6c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M8.5 15h-5c-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5h5c0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5z" 
              fill="#fefcfb"/>
            <path 
              d="M17.943 6.544l-0.813-0.591-0.311-0.956h-1.005l-0.813-0.591-0.813 0.591h-1.005l-0.311 0.956-0.813 0.591 0.311 0.956-0.311 0.956 0.813 0.591 0.132 0.406c-0.002 0.016-0.002 0.031-0.002 0.047v5c0 0.202 0.122 0.385 0.309 0.462s0.402 0.035 0.545-0.108l1.146-1.146 1.146 1.146c0.096 0.096 0.223 0.147 0.354 0.146 0.064 0 0.129-0.012 0.191-0.038 0.187-0.077 0.309-0.26 0.309-0.462v-5c0-0.016-0.001-0.032-0.002-0.047l0.132-0.406 0.813-0.591-0.311-0.956 0.311-0.956zM13.233 6.926l0.488-0.355 0.187-0.574h0.604l0.488-0.355 0.488 0.355h0.604l0.187 0.574 0.488 0.355-0.187 0.574 0.187 0.574-0.488 0.355-0.187 0.574h-0.604l-0.488 0.355-0.488-0.355h-0.604l-0.187-0.574-0.488-0.355 0.187-0.574-0.187-0.574zM15.354 12.646c-0.195-0.195-0.512-0.195-0.707 0l-0.646 0.646v-3.29h0.187l0.813 0.591 0.813-0.591h0.187v3.29l-0.646-0.646z" 
              fill="#fefcfb"/>
          </svg>
        </span>
      </div>
      <div class="timeline-item">
        <div class="timeline-content">
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/family80_vk8vhk.jpg">
        </div>
      </div>
      <header class="timeline-header">
        <span class="tag date">Baby Amy</span>
      </header> 
      <div class="timeline-item">
        <div class="timeline-content">
          <img src="https://res.cloudinary.com/askcreative-space/image/upload/h_300,c_fit/amybaby_wasicz.jpg">
        </div>
      </div>
      <div class="timeline-item"/>   
      <header class="timeline-header">
        <span class="tag">
          <svg 
            version="1.1" 
            xmlns="http://www.w3.org/2000/svg" 
            xmlns:xlink="http://www.w3.org/1999/xlink" 
            width="40" 
            height="40" 
            viewBox="0 0 20 20">
            <path 
              d="M7.5 8c-0.827 0-1.5-0.673-1.5-1.5 0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5c0 0.827-0.673 1.5-1.5 1.5z" 
              fill="#413E3C"/>
            <path 
              d="M11.5 8c-0.827 0-1.5-0.673-1.5-1.5 0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5c0 0.827-0.673 1.5-1.5 1.5z" 
              fill="#413E3C"/>
            <path 
              d="M9.5 14c-3.033 0-5.5-2.467-5.5-5.5s2.467-5.5 5.5-5.5 5.5 2.467 5.5 5.5-2.467 5.5-5.5 5.5zM9.5 4c-2.481 0-4.5 2.019-4.5 4.5s2.019 4.5 4.5 4.5c2.481 0 4.5-2.019 4.5-4.5s-2.019-4.5-4.5-4.5z" 
              fill="#413E3C"/>
            <path 
              d="M9.5 12c-0.994 0-1.945-0.425-2.609-1.167-0.184-0.206-0.167-0.522 0.039-0.706s0.522-0.167 0.706 0.039c0.474 0.53 1.153 0.833 1.864 0.833s1.389-0.304 1.863-0.833c0.184-0.206 0.5-0.223 0.706-0.039s0.223 0.5 0.039 0.706c-0.664 0.741-1.614 1.166-2.609 1.166z" 
              fill="#413E3C"/>
            <path 
              d="M15.51 2.49c-1.605-1.605-3.74-2.49-6.010-2.49s-4.405 0.884-6.010 2.49-2.49 3.74-2.49 6.010v11c0 0.159 0.076 0.309 0.204 0.403 0.087 0.064 0.191 0.097 0.296 0.097 0.050 0 0.1-0.007 0.149-0.023l15.351-4.797v4.32c0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5v-4.988c0-0.008 0-0.015 0-0.023v-5.989c0-2.27-0.884-4.405-2.49-6.010zM2 15.157l6.228 1.717-6.228 1.946v-3.663zM17 14.132l-7.009 2.19-7.991-2.203v-5.619c0-4.136 3.364-7.5 7.5-7.5s7.5 3.364 7.5 7.5v5.632z" 
              fill="#413E3C"/>
          </svg>
        </span>
      </header>
      <div class="timeline-item"/>
      <header class="timeline-header">
        <span class="tag is-medium is-pink">7 January 1977</span>
      </header>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MainTimeline'
}
</script>

<style scoped>
.timey {
  margin: 0 5vh;
}
.heading {
  text-transform: capitalize;
}
.title {
  text-align: center;
}
.timeline {
  margin: 2vh 0;
  color: #413e3c;
}
.tag.is-medium.is-pink {
  background-color: #ac3b61;
  color: #fefcfb;
}
.tag {
  background-color: transparent;
}
.timeline-marker.blue {
  background-color: #336ca4 !important;
}
.tag.blue {
  height: 50px;
  width: 50px;
  left: -25px;
  background-color: #336ca4;
}
.timeline-header.blue {
  background-color: #336ca4;
  color: #fefcfb;
}
.tag.date {
  background-color: #336ca4;
  color: #fefcfb;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg)
  }
}

.timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.timeline .timeline-header {
  width: 4em;
  min-width: 4em;
  max-width: 8em;
  word-wrap: normal;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.timeline .timeline-item {
  display: -webkit-box;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  position: relative;
  margin-left: 2em;
  padding-bottom: 2em
}

.timeline .timeline-item::before {
  content: "";
  background-color: #dbdbdb;
  display: block;
  width: .1em;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0
}

.timeline .timeline-item .timeline-marker {
  position: absolute;
  background: #dbdbdb;
  border: .1em solid #dbdbdb;
  border-radius: 100%;
  content: "";
  display: block;
  height: .8em;
  left: -.35em;
  top: 1.2rem;
  width: .8em
}

.timeline .timeline-item .timeline-marker.is-image {
  background: #dbdbdb;
  border: .1em solid #dbdbdb;
  border-radius: 100%;
  display: block;
  overflow: hidden
}

.timeline .timeline-item .timeline-marker.is-image.is-16x16 {
  height: 16px;
  width: 16px;
  left: -8px
}

.timeline .timeline-item .timeline-marker.is-image.is-24x24 {
  height: 24px;
  width: 24px;
  left: -12px
}

.timeline .timeline-item .timeline-marker.is-image.is-32x32 {
  height: 32px;
  width: 32px;
  left: -16px
}

.timeline .timeline-item .timeline-marker.is-image.is-48x48 {
  height: 48px;
  width: 48px;
  left: -24px
}

.timeline .timeline-item .timeline-marker.is-image.is-64x64 {
  height: 64px;
  width: 64px;
  left: -32px
}

.timeline .timeline-item .timeline-marker.is-image.is-96x96 {
  height: 96px;
  width: 96px;
  left: -48px
}

.timeline .timeline-item .timeline-marker.is-image.is-128x128 {
  height: 128px;
  width: 128px;
  left: -64px
}

.timeline .timeline-item .timeline-marker.is-icon {
  height: 1.5em;
  width: 1.5em;
  left: -.7em;
  line-height: .75rem;
  padding: .25rem;
  background: #dbdbdb;
  border: .1em solid #dbdbdb;
  border-radius: 100%
}

.timeline .timeline-item .timeline-marker.is-icon>i {
  color: #fff;
  font-size: .75rem !important
}

.timeline .timeline-item .timeline-marker.is-outlined .image {
  background: #fff
}

.timeline .timeline-item .timeline-marker.is-outlined.is-icon {
  background: #fff
}

.timeline .timeline-item .timeline-marker.is-outlined.is-icon>i {
  color: #dbdbdb
}

.timeline .timeline-item .timeline-marker.is-white {
  background-color: #fff !important;
  border-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-white .image {
  border-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-white.is-icon {
  background-color: #fff !important;
  border-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-white.is-icon>i {
  color: #0a0a0a !important
}

.timeline .timeline-item .timeline-marker.is-white.is-outlined {
  background-color: #fff !important;
  border-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-white.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-white.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-white.is-outlined.is-icon>i {
  color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-black {
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important
}

.timeline .timeline-item .timeline-marker.is-black .image {
  border-color: #0a0a0a !important
}

.timeline .timeline-item .timeline-marker.is-black.is-icon {
  background-color: #0a0a0a !important;
  border-color: #0a0a0a !important
}

.timeline .timeline-item .timeline-marker.is-black.is-icon>i {
  color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-black.is-outlined {
  background-color: #fff !important;
  border-color: #0a0a0a !important
}

.timeline .timeline-item .timeline-marker.is-black.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-black.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-black.is-outlined.is-icon>i {
  color: #0a0a0a !important
}

.timeline .timeline-item .timeline-marker.is-light {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important
}

.timeline .timeline-item .timeline-marker.is-light .image {
  border-color: #f5f5f5 !important
}

.timeline .timeline-item .timeline-marker.is-light.is-icon {
  background-color: #f5f5f5 !important;
  border-color: #f5f5f5 !important
}

.timeline .timeline-item .timeline-marker.is-light.is-icon>i {
  color: #363636 !important
}

.timeline .timeline-item .timeline-marker.is-light.is-outlined {
  background-color: #fff !important;
  border-color: #f5f5f5 !important
}

.timeline .timeline-item .timeline-marker.is-light.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-light.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-light.is-outlined.is-icon>i {
  color: #f5f5f5 !important
}

.timeline .timeline-item .timeline-marker.is-dark {
  background-color: #363636 !important;
  border-color: #363636 !important
}

.timeline .timeline-item .timeline-marker.is-dark .image {
  border-color: #363636 !important
}

.timeline .timeline-item .timeline-marker.is-dark.is-icon {
  background-color: #363636 !important;
  border-color: #363636 !important
}

.timeline .timeline-item .timeline-marker.is-dark.is-icon>i {
  color: #f5f5f5 !important
}

.timeline .timeline-item .timeline-marker.is-dark.is-outlined {
  background-color: #fff !important;
  border-color: #363636 !important
}

.timeline .timeline-item .timeline-marker.is-dark.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-dark.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-dark.is-outlined.is-icon>i {
  color: #363636 !important
}

.timeline .timeline-item .timeline-marker.is-primary {
  background-color: #00d1b2 !important;
  border-color: #00d1b2 !important
}

.timeline .timeline-item .timeline-marker.is-primary .image {
  border-color: #00d1b2 !important
}

.timeline .timeline-item .timeline-marker.is-primary.is-icon {
  background-color: #00d1b2 !important;
  border-color: #00d1b2 !important
}

.timeline .timeline-item .timeline-marker.is-primary.is-icon>i {
  color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-primary.is-outlined {
  background-color: #fff !important;
  border-color: #00d1b2 !important
}

.timeline .timeline-item .timeline-marker.is-primary.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-primary.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-primary.is-outlined.is-icon>i {
  color: #00d1b2 !important
}

.timeline .timeline-item .timeline-marker.is-link {
  background-color: #3273dc !important;
  border-color: #3273dc !important
}

.timeline .timeline-item .timeline-marker.is-link .image {
  border-color: #3273dc !important
}

.timeline .timeline-item .timeline-marker.is-link.is-icon {
  background-color: #3273dc !important;
  border-color: #3273dc !important
}

.timeline .timeline-item .timeline-marker.is-link.is-icon>i {
  color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-link.is-outlined {
  background-color: #fff !important;
  border-color: #3273dc !important
}

.timeline .timeline-item .timeline-marker.is-link.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-link.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-link.is-outlined.is-icon>i {
  color: #3273dc !important
}

.timeline .timeline-item .timeline-marker.is-info {
  background-color: #209cee !important;
  border-color: #209cee !important
}

.timeline .timeline-item .timeline-marker.is-info .image {
  border-color: #209cee !important
}

.timeline .timeline-item .timeline-marker.is-info.is-icon {
  background-color: #209cee !important;
  border-color: #209cee !important
}

.timeline .timeline-item .timeline-marker.is-info.is-icon>i {
  color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-info.is-outlined {
  background-color: #fff !important;
  border-color: #209cee !important
}

.timeline .timeline-item .timeline-marker.is-info.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-info.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-info.is-outlined.is-icon>i {
  color: #209cee !important
}

.timeline .timeline-item .timeline-marker.is-success {
  background-color: #23d160 !important;
  border-color: #23d160 !important
}

.timeline .timeline-item .timeline-marker.is-success .image {
  border-color: #23d160 !important
}

.timeline .timeline-item .timeline-marker.is-success.is-icon {
  background-color: #23d160 !important;
  border-color: #23d160 !important
}

.timeline .timeline-item .timeline-marker.is-success.is-icon>i {
  color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-success.is-outlined {
  background-color: #fff !important;
  border-color: #23d160 !important
}

.timeline .timeline-item .timeline-marker.is-success.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-success.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-success.is-outlined.is-icon>i {
  color: #23d160 !important
}

.timeline .timeline-item .timeline-marker.is-warning {
  background-color: #ffdd57 !important;
  border-color: #ffdd57 !important
}

.timeline .timeline-item .timeline-marker.is-warning .image {
  border-color: #ffdd57 !important
}

.timeline .timeline-item .timeline-marker.is-warning.is-icon {
  background-color: #ffdd57 !important;
  border-color: #ffdd57 !important
}

.timeline .timeline-item .timeline-marker.is-warning.is-icon>i {
  color: rgba(0, 0, 0, .7) !important
}

.timeline .timeline-item .timeline-marker.is-warning.is-outlined {
  background-color: #fff !important;
  border-color: #ffdd57 !important
}

.timeline .timeline-item .timeline-marker.is-warning.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-warning.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-warning.is-outlined.is-icon>i {
  color: #ffdd57 !important
}

.timeline .timeline-item .timeline-marker.is-danger {
  background-color: #ff3860 !important;
  border-color: #ff3860 !important
}

.timeline .timeline-item .timeline-marker.is-danger .image {
  border-color: #ff3860 !important
}

.timeline .timeline-item .timeline-marker.is-danger.is-icon {
  background-color: #ff3860 !important;
  border-color: #ff3860 !important
}

.timeline .timeline-item .timeline-marker.is-danger.is-icon>i {
  color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-danger.is-outlined {
  background-color: #fff !important;
  border-color: #ff3860 !important
}

.timeline .timeline-item .timeline-marker.is-danger.is-outlined .image {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-danger.is-outlined.is-icon {
  background-color: #fff !important
}

.timeline .timeline-item .timeline-marker.is-danger.is-outlined.is-icon>i {
  color: #ff3860 !important
}

.timeline .timeline-item .timeline-content {
  padding: 1em 0 0 .5em;
  padding: 1em 0 0 2em
}

.timeline .timeline-item .timeline-content .heading {
  font-weight: 600
}

.timeline .timeline-item.is-white::before {
  background-color: #fff
}

.timeline .timeline-item.is-black::before {
  background-color: #0a0a0a
}

.timeline .timeline-item.is-light::before {
  background-color: #f5f5f5
}

.timeline .timeline-item.is-dark::before {
  background-color: #363636
}

.timeline .timeline-item.is-primary::before {
  background-color: #00d1b2
}

.timeline .timeline-item.is-link::before {
  background-color: #3273dc
}

.timeline .timeline-item.is-info::before {
  background-color: #209cee
}

.timeline .timeline-item.is-success::before {
  background-color: #23d160
}

.timeline .timeline-item.is-warning::before {
  background-color: #ffdd57
}

.timeline .timeline-item.is-danger::before {
  background-color: #ff3860
}

.timeline.is-centered .timeline-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-item-align: center;
  align-self: center
}

.timeline.is-centered .timeline-item {
  width: 50%;
  -ms-flex-item-align: end;
  align-self: flex-end
}

.timeline.is-centered .timeline-item:nth-of-type(2n) {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin-left: 0;
  margin-right: 2em
}

.timeline.is-centered .timeline-item:nth-of-type(2n)::before {
  right: -.1em;
  left: auto
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker {
  left: auto;
  right: -.45em
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker.is-image.is-16x16 {
  left: auto;
  right: -8px
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker.is-image.is-24x24 {
  left: auto;
  right: -12px
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker.is-image.is-32x32 {
  left: auto;
  right: -16px
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker.is-image.is-48x48 {
  left: auto;
  right: -24px
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker.is-image.is-64x64 {
  left: auto;
  right: -32px
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker.is-image.is-96x96 {
  left: auto;
  right: -48px
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker.is-image.is-128x128 {
  left: auto;
  right: -64px
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-marker.is-icon {
  left: auto;
  right: -.8em
}

.timeline.is-centered .timeline-item:nth-of-type(2n) .timeline-content {
  padding: 1em 2em 0 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%
}

.timeline.is-centered .timeline-item:nth-of-type(2n+1)::before {
  content: "";
  background-color: #dbdbdb;
  display: block;
  width: .1em;
  height: 100%;
  position: absolute;
  top: 0
}

.timeline.is-rtl {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end
}

.timeline.is-rtl .timeline-item {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-left: none;
  margin-left: 0;
  margin-right: 2em
}

.timeline.is-rtl .timeline-item::before {
  right: 0;
  left: auto
}

.timeline.is-rtl .timeline-item .timeline-marker {
  left: auto;
  right: -.35em
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-16x16 {
  left: auto;
  right: -8px
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-24x24 {
  left: auto;
  right: -12px
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-32x32 {
  left: auto;
  right: -16px
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-48x48 {
  left: auto;
  right: -24px
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-64x64 {
  left: auto;
  right: -32px
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-96x96 {
  left: auto;
  right: -48px
}

.timeline.is-rtl .timeline-item .timeline-marker.is-image.is-128x128 {
  left: auto;
  right: -64px
}

.timeline.is-rtl .timeline-item .timeline-marker.is-icon {
  left: auto;
  right: -.7em
}

.timeline.is-rtl .timeline-item .timeline-content {
  padding: 1em 2em 0 0;
  text-align: right
}

</style>