<template>
  <div class="columns is-mobile">
    <div class="column is-narrow-mobile"/>
    <div class="column is-four-fifths-mobile is-three-fifths-tablet">
      <h2 class="is-size-1">
        Amy Storm Kosman ...
      </h2>        
      is from California and currently living in the Netherlands. I love my family, my parents, my older sister and younger brother, sometimes my husband and our two cats.
      <h3 class="is-size-2">Never bored ...
      </h3>
      I am always puzzling on the hows in making things, and often resulting in breaking things (I've an old laptop and phone just for OS experiments). I can get overly obsessed puzzling. If I say I'm bored then I'm in need of food or a nap. I'm a long-time napper. 1530 or 1600 is sleepy time.
      <h4 class="is-size-3">Never boring ...
      </h4>
      Well almost never. Actually, probably usually boring. I am the worst at storytelling and communication. This is my lifelong struggle :P and everyone else's lifelong bane, to listen to and suffer my stories.
    </div>
    <div class="column is-narrow-mobile"/>
  </div>
</template>

<script>
export default {
  name: 'PersonalStory'
}
</script>

<style scoped>
  .columns.is-mobile {
    margin-bottom: 8vh;
  }
</style>
